{% load static %}
{% load user_tags %}
<div id="sidebar" class="sidebar sidebar-transparent">
  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">
    <!-- begin sidebar user -->
    <ul class="nav">
      <li class="nav-profile">
        <a href="javascript:;" data-toggle="nav-profile">
          <div class="cover with-shadow"></div>
          <div class="image">
            {{ request.user.groups.all.first.name|image_profile|safe }}
          </div>
          <div class="info">
            <b class="caret pull-right"></b>
            {{ request.user.first_name}} {{ request.user.last_name }}
            <small>{{ request.user.groups.all.first }}</small>
          </div>
        </a>
      </li>
      <li>
        <ul class="nav nav-profile">
          <li><a href="{% url 'users:detail' request.user.id %}"><i class="fa fa-user"></i> Perfil</a></li>
          <li><a href="{% url 'contratos:miscontratos' %}">
            <i class="fab fa-dochub"></i>
            Mis Contratos <span class="badge pull-right">10</span></a></li>
          {% if request.user.is_staff %}
            <li><a href="{% url "admin:index" %}" target="_blank">
              <i class="fa fa-wrench"></i> Administración</a>
            </li>
          {% endif %}
        </ul>
      </li>
    </ul>
    <!-- end sidebar user -->
    <!-- begin sidebar nav -->
    <ul class="nav">
      <li class="nav-header">Menú</li>
      {% if not user.groups.first.name == 'Administrador'  %}
      <li {% if menu_app == 'home' %}class="active"{% endif %}>
        <a href="{% url 'home' %}">
          <i class="fas fa-home"></i>
          <span>Inicio </span>
        </a>
      </li>
      {% endif %}
      {% if user.groups.first.name == 'Administrador'  %}
      <li {% if menu_app == 'inicio' %}class="active"{% endif %}>
        <a href="{% url 'inicio' %}">
          <i class="fas fa-home"></i>
          <span>Inicio </span>
        </a>
      </li>
      {% endif %}
      {% if perms.requerimientos.view_requerimiento %}
      <li class="has-sub {% if menu_app == 'requerimientos' %}active{% endif %}">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-network-wired"></i>
          <span>Requerimientos </span>
        </a>
        <ul class="sub-menu">
          <li {% if menu_app == 'requerimientos' and menu_page == None %} class="active"{% endif %}><a href="{% url 'requerimientos:list' %}">Ver Requerimientos </a></li>
        {% if perms.requerimientos.add_requerimiento %}
          <li {% if menu_app == 'requerimientos' and menu_page == 'create' %} class="active"{% endif %}><a href="{% url 'requerimientos:create' %}">Crear Requerimiento</a></li>
        {% endif %}
        </ul>
      </li>
      {% endif %}
      {% if perms.agendamientos.view_agendamiento%}
      <li class="has-sub {% if menu_app == 'agendamientos' %}active{% endif %}">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="far fa-lg fa-fw me-10px fa-calendar-plus"></i>
          <span>Agendamientos </span>
        </a>
        <ul class="sub-menu">
        {% if perms.agendamientos.add_agendamiento %}
          <li {% if menu_app == 'agendamientos' and menu_page == None %} class="active"{% endif %}><a href="{% url 'agendamientos:listAgenda' %}">Agendar </a></li>
        {% endif %}
        {% if perms.agendamientos.add_agendamiento %}
          <li {% if menu_app == 'agendamientos2' and menu_page == None %} class="active"{% endif %}><a href="{% url 'agendamientos:solicitudes' %}">Mis Solicitudes </a></li>
        {% endif %}
        </ul>
      </li>
      {% endif %}
      {% if perms.psicologos.view_psicologico %}
      <li class="has-sub {% if menu_app == 'psicologos' %}active{% endif %}">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fa fa-universal-access"></i>
          <span>Psicólogos </span>
        </a>
        <ul class="sub-menu">
          <li {% if menu_app == 'psicologos' and menu_page == 'create' %} class="active"{% endif %}><a href="{% url 'psicologos:list' %}">Evaluaciones</a></li>
        {% if perms.psicologos.view_evaluacionpsicologico %}
          <li {% if menu_app == 'psicologos' and menu_page == report %} class="active"{% endif %}><a href="{% url 'psicologos:evaTerminadas' %}">Evaluaciones Realizadas</a></li>
        {% endif %}
          <li {% if menu_app == 'psicologos' and menu_page == None %} class="active"{% endif %}><a href="{% url 'psicologos:list-solicitudes' %}">Revisión de Solicitudes</a></li>
        </ul>
      </li>
      {% endif %}
      {% if perms.examenes.view_examen %}
      <li class="has-sub {% if menu_app == 'examenes' %}active{% endif %}">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-book-medical"></i>
          <span>Exámenes </span>
        </a>
        <ul class="sub-menu">
          {% if perms.contratos.view_plantilla %}
            <li class="has-sub {% if menu_module == 'examengeneral' %}expand{% else %}closed{% endif %}">
                  <a href="javascript:;">
                    <b class="caret"></b>
                    Exámenes Generales
                  </a>
                  <ul class="sub-menu" style=>
                    <li {% if menu_module == 'examengeneral' and menu_page == 'list' %}class="active"{% endif %}><a href="{% url 'examenes:listEvaluaciones' %}">Evaluaciones</a></li>
                    {% if perms.contratos.add_plantilla %}
                    <li {% if menu_module == 'examengeneral' and menu_page == 'create' %}class="active"{% endif %}><a href="{% url 'examenes:evaTerminadas' %}">Evaluaciones Realizadas</a></li>
                    {% endif %}
                    <li {% if menu_app == 'examengeneral' and menu_page == None %} class="active"{% endif %}><a href="{% url 'examenes:list-solicitudes' %}">Revisión de Solicitudes </a></li>
                  </ul>
                </li>
          {% endif %}
          <li {% if menu_app == 'examenes' and menu_page == None %} class="active"{% endif %}><a href="{% url 'examenes:examen' %}">Exámenes</a></li>
        {% if perms.examenes.add_examen %}
          <li {% if menu_app == 'examenes' and menu_page == 'create' %} class="active"{% endif %}><a href="{% url 'examenes:bateria' %}">Baterías</a></li>
        {% endif %}
        {% if perms.examenes.add_examen %}
          <li {% if menu_app == 'examenes' and menu_page == 'create' %} class="active"{% endif %}><a href="{% url 'examenes:centroMedico' %}">Centro Médico</a></li>
        {% endif %}
        </ul>
      </li>
      {% endif %}
      {% if perms.clientes.view_cliente %}
      <li class="has-sub {% if menu_app == 'clientes' %}active{% endif %}">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="far fa-lg fa-fw m-r-10 fa-building"></i>
          <span>Clientes </span>
        </a>
        <ul class="sub-menu"> 
          <li {% if menu_app == 'cliente' and menu_page == None %} class="active"{% endif %}><a href="{% url 'clientes:list_cliente' %}">Ver Clientes </a></li>
        {% if perms.clientes.add_cliente %}
          <li {% if menu_app == 'cliente' and menu_page == 'create' %} class="active"{% endif %}><a href="{% url 'clientes:create_cliente' %}">Crear Cliente</a></li>
        {% endif %}
        </ul>
      </li>
      {% endif %}
      {% if perms.epps.view_epp %}
      <li class="has-sub {% if menu_app == 'epps' %}active{% endif %}">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-lg fa-fw m-r-10 fa-box-open"></i>
          <span>Insumos/EPP </span>
        </a>
        <ul class="sub-menu">
          <li {% if menu_app == 'epp' and menu_page == None %} class="active"{% endif %}><a href="{% url 'epps:list-tipo' %}">Tipos Insumos</a></li>
        {% if perms.epps.add_epp %}
          <li {% if menu_app == 'epp' and menu_page == 'create' %} class="active"{% endif %}><a href="{% url 'epps:insumo' %}">Insumos</a></li>
          <!-- <li {% if menu_app == 'epp' and menu_page == 'create' %} class="active"{% endif %}><a href="{% url 'epps:list-tipo' %}">Convenio</a></li>
          <li {% if menu_app == 'epp' and menu_page == 'create' %} class="active"{% endif %}><a href="{% url 'epps:list-tipo' %}">Convenio Detalle</a></li> -->
        {% endif %}
        </ul>
      </li>
      {% endif %}
      {% if perms.contratos.view_plantilla %}
      <li class="has-sub {% if menu_app == 'contratos' %}active{% endif %}">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-archive"></i>
          <span>Contratos </span>
        </a>
        <ul class="sub-menu">
        {% if perms.contratos.view_plantilla %}
          <li class="has-sub {% if menu_module == 'plantilla' %}expand{% else %}closed{% endif %}">
								<a href="javascript:;">
									<b class="caret"></b>
									Plantillas
								</a>
								<ul class="sub-menu" style="{% if menu_module == 'plantilla' %}display: block;{% else %}display: none;{% endif %}">
									<li {% if menu_module == 'plantilla' and menu_page == 'list' %}class="active"{% endif %}><a href="{% url 'contratos:list-plantilla' %}">Ver Plantillas</a></li>
                  {% if perms.contratos.add_plantilla %}
									<li {% if menu_module == 'plantilla' and menu_page == 'create' %}class="active"{% endif %}><a href="{% url 'contratos:create-plantilla' %}">Crear Plantilla</a></li>
                  {% endif %}
								</ul>
							</li>
        {% endif %}
        {% if perms.contratos.view_contrato %}
          <li class="has-sub {% if menu_module == None %}expand{% else %}closed{% endif %}">
								<a href="javascript:;">
									<b class="caret"></b>
									Contratos
								</a>
								<ul class="sub-menu" style="{% if menu_module == None %}display: block;{% else %}display: none;{% endif %}">
									<li {% if menu_module == None and menu_page == 'list' %}class="active"{% endif %}><a href="{% url 'contratos:list' %}">Ver Contratos</a></li>
									<li {% if menu_module == contrato and menu_page == 'tipo-contratos' %}class="active"{% endif %}><a href="{% url 'contratos:tipo-contratos' %}">Tipo Contratos</a></li>
								</ul>
							</li>
        {% endif %}
          {% comment %}<li {% if menu_module == 'lista' %}class="active"{% endif %}><a href="ui_general.html">Ver Plantillas </a></li>
        {% if perms.contratos.add_plantilla %}
          <li {% if menu_module == 'lista' %}class="active"{% endif %}><a href="ui_typography.html">Crear Plantilla</a></li>
        {% endif %}{% endcomment %}
        </ul>
      </li>
      {% endif %}
      {% if perms.ficheros.view_fichero %}
      <li class="has-sub {% if menu_app == 'ficheros' %}active{% endif %}">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="far fa-hdd"></i>
          <span>Ficheros Digitales </span>
        </a>
        <ul class="sub-menu">
          <li {% if menu_app == 'ficheros' and menu_page == None %} class="active"{% endif %}><a href="{% url 'ficheros:list' %}">Ver Ficheros </a></li>
        {% if perms.ficheros.add_fichero %}
          <li {% if menu_app == 'ficheros' and menu_page == 'create' %} class="active"{% endif %}><a href="{% url 'ficheros:create' %}">Crear Fichero</a></li>
        {% endif %}
        </ul>
      </li>
      {% endif %}
      {% if perms.users.view_user %}
      <li class="has-sub {% if menu_app == 'users' %}active{% endif %}">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-users"></i>
          <span>Usuarios </span>
        </a>
        <ul class="sub-menu">
          {% if perms.users.view_user %}
            <li class="has-sub {% if menu_module == 'user' %}expand{% else %}closed{% endif %}">
                  <a href="javascript:;">
                    <b class="caret"></b>
                    Usuarios
                  </a>
                  <ul class="sub-menu" style="{% if menu_module == 'user' %}display: block;{% else %}display: none;{% endif %}">
                    <li {% if menu_module == 'user' and menu_page == 'None' %}class="active"{% endif %}><a href="{% url 'users:list' %}">Ver Usuarios</a></li>
                    {% if perms.users.add_user %}
                    <li {% if menu_module == 'user' and menu_page == 'create' %}class="active"{% endif %}><a href="{% url 'users:create' %}">Crear Usuario</a></li>
                    {% endif %}
                  </ul>
                </li>
          {% endif %}
          {% if perms.users.view_trabajador %}
            <li class="has-sub {% if menu_module == 'user' %}expand{% else %}closed{% endif %}">
                  <a href="javascript:;">
                    <b class="caret"></b>
                    Trabajadores
                  </a>
                  <ul class="sub-menu" style="{% if menu_module == 'user' %}display: block;{% else %}display: none;{% endif %}">
                    <li {% if menu_module == 'user' and menu_page == 'list' %}class="active"{% endif %}><a href="{% url 'users:list_trabajador' %}">Ver Trabajadores</a></li>
                    {% if perms.users.add_trabajador %}
                    <li {% if menu_module == 'user' and menu_page == 'create' %}class="active"{% endif %}><a href="{% url 'users:create_trabajador' %}">Crear Trabajador</a></li>
                    {% endif %}
                  </ul>
                </li>
          {% endif %}
        <!-- <li {% if menu_app == 'users' and menu_page == None %} class="active"{% endif %}><a href="{% url 'users:list' %}">Ver Usuarios</a></li>
        {% if perms.users.add_user %}
        <li {% if menu_app == 'users' and menu_page == 'create' %} class="active"{% endif %}><a href="{% url 'users:create' %}">Crear Usuario</a></li>
        {% endif %} -->
        {% if perms.users.lista_negra %}
        <li {% if menu_app == 'users.listanegra' and menu_page == 'lista_negra' %} class="active"{% endif %}><a href="{% url 'users:lista_negra' %}">Lista Negra</a></li>
        {% endif %}
        {% if perms.users.view_profesion %}
				<li {% if menu_module == 'users' and menu_page == 'profesion' %}class="active"{% endif %}><a href="{% url 'users:profesion' %}">Profesiones</a></li>
        {% endif %}
        {% if perms.users.view_especialidad %}
        <li {% if menu_module == 'users' and menu_page == 'especialidad' %}class="active"{% endif %}><a href="{% url 'users:especialidad' %}">Especialidades</a></li>
        {% endif %}
        </ul>
      </li>
      {% endif %}
      {% if perms.utils.view_cliente %}
      <li class="has-sub {% if menu_app == 'utils' %}active{% endif %}">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-cogs"></i>
          <span>Mantenedores </span>
        </a>
        <ul class="sub-menu">
        {% if perms.utils.view_area %}
          <li {% if menu_app == 'utils' and menu_page == area %} class="active"{% endif %}><a href="{% url 'utils:area' %}">Áreas</a></li>
        {% endif %}
        {% if perms.utils.view_cargo %}
        <li {% if menu_app == 'utils' and menu_page == cargo %} class="active"{% endif %}><a href="{% url 'utils:cargo' %}">Cargos</a></li>
        {% endif %}
        {% if perms.users.view_afp %}
          <li class="has-sub {% if menu_module == 'afp' %}expand{% else %}closed{% endif %}">
						<a href="javascript:;">
							<b class="caret"></b>
							AFP
						</a>
						<ul class="sub-menu" style="{% if menu_module == 'afp' %}display: block;{% else %}display: none;{% endif %}">
							<li {% if menu_module == 'afp' and menu_page == 'list' %}class="active"{% endif %}><a href="{% url 'utils:afp' %}">Crear Afp</a></li>
                {% if perms.users.add_afp %}
							<li {% if menu_module == 'valores_diarios' and menu_page == 'list' %}class="active"{% endif %}><a href="{% url 'utils:valores_diarios' %}">Valores Diarios</a></li>
							<li {% if menu_module == 'vdiarios_afp' and menu_page == 'list' %}class="active"{% endif %}><a href="{% url 'utils:vdiarios_afp' %}">Valores Diarios <b>AFP</b></a></li>
                {% endif %}
						</ul>
					</li>
        {% endif %}
        {% if perms.users.view_salud %}
        <li {% if menu_module == 'users' and menu_page == 'bono' %}class="active"{% endif %}><a href="{% url 'utils:salud' %}">Sistema de Salud</a></li>
        {% endif %}
        {% if perms.utils.view_bono %}
        <li {% if menu_module == 'utils' and menu_page == 'bono' %}class="active"{% endif %}><a href="{% url 'utils:bono' %}">Bonos</a></li>
        {% endif %}
        {% if perms.utils.view_horario %}
        <li {% if menu_module == 'utils' and menu_page == 'horario' %}class="active"{% endif %}><a href="{% url 'utils:horario' %}">Horarios</a></li>
        {% endif %}
        </ul>
      </li>
      {% endif %}
      {% if perms.consultas.view_consulta %}
      <li class="has-sub {% if menu_app == 'consultas' %}active{% endif %}">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-search"></i>
          <span>Consultas </span>
        </a>
        <ul class="sub-menu">
          <li {% if menu_app == 'consultas' and menu_page == None %} class="active"{% endif %}><a href="{% url 'consultas:consulta-requerimiento' %}">Consulta General Requerimientos </a></li>
          {% if perms.contratos.view_plantilla %}
            <li class="has-sub {% if menu_module == 'plantilla' %}expand{% else %}closed{% endif %}">
                  <a href="javascript:;">
                    <b class="caret"></b>
                    EPPs
                  </a>
                  <ul class="sub-menu" style="{% if menu_module == 'plantilla' %}display: block;{% else %}display: none;{% endif %}">
                    <li {% if menu_module == 'consultas' and menu_page == 'None' %}class="active"{% endif %}><a href="{% url 'consultas:consulta-epps' %}">Consulta General EPPs</a></li>
                    {% if perms.contratos.add_plantilla %}
                    <li {% if menu_module == 'plantilla' and menu_page == 'create' %}class="active"{% endif %}><a href="{% url 'consultas:requerimiento-epps' %}">Epps/Trabajador(es)</a></li>
                    {% endif %}
                  </ul>
                </li>
          {% endif %}
        </ul>
      </li>
      {% endif %}
      <!-- begin sidebar minify button -->
      <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
      <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
