{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block page_title %}Consultas{% endblock %}
{% block styles %}
.text-name {
  margin-bottom: 0em;
  font-weight: bold;
  font-size: small;
}
.text-desc {
  font-style: italic;
  margin-top:-0.1em;
  padding-left: 0.1em;
  font-size: small;
}
.estado-consulta{
  text-align: center;
  vertical-align: middle;
}
.centrar{
    align-items: center;
    justify-content: center;
}
{% endblock %}
{% block content %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">Consultas</a></li>
    <li class="breadcrumb-item active">Listado</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">Consultas <small></small></h1>
  <!-- end page-header -->
  
  <!-- begin panel -->
  <div class="panel panel-inverse">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
      </div>
      <h4 class="panel-title">Consulta General Requerimientos </h4>
    </div>
    <div class="panel-body">
      <form action="buscarRequerimiento" method="POST" autocomplete="off" novalidate id="consultaRequeriForm" data-plantas-url="{% url 'users:ajax_load_plantas' %}">
        <fieldset>
          {% csrf_token %}
            <div class="row col-md-12 row align-items-center">
                <div class="form-check col-md-1">
                  <input class="form-check-input" type="checkbox" id="todos" name="todos">
                  <label>Todos</label>
                </div>
                <div class="form-group col-md-4">
                    <label for="email" name="cliente">Cliente</label>
                    {{ form.cliente }}
                </div>
                <div class="form-group col-md-4">
                    <label for="email" name="planta">Planta</label>
                    {{ form.planta }}
                </div>
                <div class="form-group col-md-2">
                  <div>
                    <input type="submit" class="btn btn-primary btn-flat btnBuscar" id="buscar" style="color: white;" value="Buscar" disabled>
                  <a href="consulta_requerimiento" class="btn btn-danger btn-flat btnCancelar" style="color: white;">Cancelar</a>
                  </div>
                </div>
                </div>
            
        </fieldset>
      </form>
    </div>
    <div class="panel-body">
        <table id="example" class="table table-striped table-bordered table-td-valign-middle" style="width: 100%;">
            <thead>
                <tr>
                    <th>Rut Cliente</th>
                    <th>Raz&oacute;n Social</th>
                    <th>Planta</th>
                    <th>Centro Costo</th>
                    <th>Nombre Requerimiento</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in data  %}
                <tr>
                    <td>{{obj.rut}}</td>
                    <td>{{obj.razon_social}}</td>
                    <td>{{obj.planta}}</td>
                    <td>{{obj.centro_costo}}</td>
                    <td>{{obj.nombre}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
    <script src="{% static 'admin/assets/js/jquery-3.3.1.min.js' %}"></script>
    <script>

    </script>
    <script>
      var todos = document.getElementById('todos');
      todos.addEventListener("change",function(event){
        if(event.target.checked){
          id_cliente.disabled = true;
          buscar.disabled = false;
        }else{
          id_cliente.disabled = false;
        }

      }, true); 
    </script>
    <script>
      // plantas
      id_planta.disabled = true;
      $("#id_cliente").change(function () {
        var url = $("#consultaRequeriForm").attr("data-plantas-url");  // get the url of the `load_plantas` view
        var clienteId = $(this).val();  // get the selected cliente ID from the HTML input
        todos.disabled = true;
        buscar.disabled = true;
        id_planta.disabled = false;
        $.ajax({                       // initialize an AJAX request
          url: "{% url 'users:ajax_load_plantas' %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-plantas/)
          data: {
            'cliente': clienteId       // add the cliente id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_plantas` view function
            $("#id_planta").html(data);  // replace the contents of the planta input with the data that came from the server
          }
        });
  
      });
    </script>
    <script>
      $("#id_planta").change(function () {
        buscar.disabled = false;
      });
    </script>

{% endblock %}

{% block librerias %}
<script src="{% static 'admin/assets/plugins/moment-2.25.3/moment.js' %}"></script>
<script src="{% static 'admin/assets/plugins/daterangepicker-3.1/spanish.js' %}"></script>
<script src="{% static 'admin/assets/plugins/daterangepicker-3.1/daterangepicker.js' %}"></script>
<script src="{% static 'admin/assets/js/report.js' %}"></script>
<script src="{% static 'admin/assets/js/ExportarExcel.js' %}"></script>
{% endblock %}