{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="es-cl" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es-cl">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Entrar | SGO</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

  <!-- ================== BEGIN START FAVICONS ================== -->
  {% include 'webicons.html' %}
  <!-- ================== END FAVICONS ================== -->

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static 'admin/assets/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" />
	<link href="{% static 'admin/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'admin/assets/plugins/font-awesome/css/all.min.css' %}" rel="stylesheet" />
	<link href="{% static 'admin/assets/plugins/animate/animate.min.css' %}" rel="stylesheet" />
	<link href="{% static 'admin/assets/css/default/style.min.css' %}" rel="stylesheet" />
	<link href="{% static 'admin/assets/css/default/style-responsive.min.css' %}" rel="stylesheet" />
	<link href="{% static 'admin/assets/css/default/theme/default.css' %}" id="theme" />
  <style>
    .logo-sgo{
      content: url('{% static 'img/logo_.png' %}');
      margin-left: -0.6em;
      width: 210px;
      top: -11px;
    }
  </style>
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'admin/assets/plugins/pace/pace.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<!-- begin login-cover -->
	<div class="login-cover">
		<div class="login-cover-image" style="background-image: url({% static 'admin/assets/img/login-bg/login-bg-17.jpg'%})" data-id="login-cover-image"></div>
		<div class="login-cover-bg"></div>
	</div>
	<!-- end login-cover -->

	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin login -->
		<div class="login login-v2" data-pageload-addclass="animated fadeIn">
			<!-- begin brand -->
			<div class="login-header">
				<div class="brand">
					<span class="logo-sgo"></span>
					<small style="margin-top: -1.2em;">Sistema de Gestión de Operaciones.</small>
					<!-- <small style="margin-top: -1.2em;">Tus contratos digitales al alcance de tu mano.</small> -->
				</div>
				<div class="icon">
					<i class="fa fa-lock"></i>
				</div>
			</div>
			<!-- end brand -->
			<!-- begin login-content -->
			<div class="login-content">
        {% if form.non_field_errors  %}
          <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="fa fa-user-times"></i> Intentalo de nuevo!</h5>
            {% for err in form.non_field_errors %}{{ err }}<br>{% endfor %}
          </div>
        {% endif %}
				<form action="{% url 'users:signin' %}" method="post"  class="margin-bottom-0" autocomplete="off">
          {% csrf_token %}
					<div class="form-group m-b-20">
            {% render_field form.username class="form-control form-control-lg" placeholder="RUT" %}
            <span class="help-text">Ingresa tu RUT sin puntos ni guiones.</span>
					</div>
					<div class="form-group m-b-20">
            {% render_field form.password class="form-control form-control-lg" placeholder="Contraseña" %}
					</div>

					<div class="login-buttons">
						<button type="submit" class="btn btn-success btn-block btn-lg">Iniciar sesión</button>
					</div>
					<div class="m-t-20">
						<a href="{% url 'password_reset' %}">¿Olvidaste tu Contraseña?</a>
					</div>
				</form>
			</div>
			<!-- end login-content -->
		</div>
		<!-- end login -->
	</div>
	<!-- end page container -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'admin/assets/plugins/jquery/jquery-3.3.1.min.js'%}"></script>
	<script src="{% static 'admin/assets/plugins/jquery-ui/jquery-ui.min.js'%}"></script>
	<script src="{% static 'admin/assets/plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
	<!--[if lt IE 9]>
		<script src="{% static 'admin/assets/crossbrowserjs/html5shiv.js'%}"></script>
		<script src="{% static 'admin/assets/crossbrowserjs/respond.min.js'%}"></script>
		<script src="{% static 'admin/assets/crossbrowserjs/excanvas.min.js'%}"></script>
	<![endif]-->
	<script src="{% static 'admin/assets/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>
	<script src="{% static 'admin/assets/plugins/js-cookie/js.cookie.js'%}"></script>
	<script src="{% static 'admin/assets/js/theme/default.min.js'%}"></script>
	<script src="{% static 'admin/assets/js/apps.min.js'%}"></script>
	<!-- ================== END BASE JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>

