{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block page_title %}Trabajadores{% endblock %}
{% block styles %}
img {
  width: 3em;
}
.img-div {
  float: left;
  text-align: center;
  padding-right: 0.5em;
}

.text-name {
  margin-bottom: 0em;
  font-weight: bold;
  font-size: small;
  font-size: 13px;
}

.text-desc {
 margin-top:-0.3em;
 margin-bottom: 0;
 padding-left: 2.7em;
 font-size: small;
 font-style: italic;
}

.list-negocios{
  vertical-align: middle;
  font-size: small;
}

.centrar{
    align-items: center;
    justify-content: center;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background: #153264!important;
    border-color: #153264 !important;
    color: #fff;
}

{% endblock %}
{% block content %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Usuarios / Trabajadores</a></li>
  <li class="breadcrumb-item active">Listado</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Trabajadores <small>Listado</small></h1>
<!-- end page-header -->

<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
    </div>
    <h4 class="panel-title">Todos los trabajadores</h4>
  </div>
    </header>
    <div class="panel-body">

    <table id="data-table-default" class="table table-striped table-bordered table-td-valign-middle">
      <thead>
          <tr>
              <th class="text-center">Datos Trabajadores</th>
              <!-- <th class="text-center">Clientes</th> -->
              <th class="text-center">Plantas</th>
              <th class="text-center">Acciones</th>
          </tr>
      </thead>
      <tbody>
      {% block contenido %}
      {% for employee in object_list  %}
        {% if not employee.id == request.user.id %}
          <tr>
            <td class="text-left" style="width:40%">
                <a title="Editar" href="{% url 'users:create-trabajador' employee.user.id %}?page={{ request.GET.page }}">
                  <div class="img-div">
                    {{ employee.user.groups.first.name|image_profile|safe }}<br>
                    {{ employee.is_active|tag_active|safe }}
                  </div>
                  <span class="text-name text-success">
                    {{ employee.rut|upper }} 
                    {{ employee.first_name|title }} {{ employee.last_name|title }} 
                  </span>
                </a>
                <p class="text-desc">
                  {{ employee.fecha_nacimiento|date:"SHORT_DATE_FORMAT" }}
                </p>
                <p class="text-desc">
                  <i class="fas fa-info fa-xs"></i>
                  {{ employee.ciudad|title }} /
                  <i class="fa-xs"></i>
                  {{ employee.especialidad|title }}
                </p>
            </td>
            <!-- <td class="list-clientes">
                <ul>
                  {% for p in employee.user.cliente.all %}
                    <li>{{ p.razon_social|title }}</li>
                  {% empty %}
                    <li>Sin asignar</li>
                  {% endfor %}
                </ul>
            </td> -->
            <td class="list-plantas" style="width:30%">
                <ul>
                  {% for p in employee.user.planta.all %}
                    <li>{{ p.nombre|title }}</li>
                  {% empty %}
                    <li>Sin asignar</li>
                  {% endfor %}
                </ul>
            </td>
            <td class="text-left" style="width:10%">
              {% if employee.terminos_condiciones == EX %}
                <a title="Autorización Firma Electrónica" id="btn_autoriza" data-id="{{ employee.user.id }}" href="{% url 'users:autorizacion' employee.user.id %}?page={{ request.GET.page }}" class="btn btn-green btn-xs btn-flat"><i class="fas fa-share"></i></a>  &nbsp &nbsp
              {% endif %}
              <!-- <a title="Requerimiento" href="#" rel="edit" class="btn btn-warning btn-xs btn-flat btnEdit"><i class="fas fa-flag"></i></a> &nbsp &nbsp
              <a title="Lista Negra" href="#" rel="delete" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-user-times"></i></a> &nbsp &nbsp
              <a title="Historial" href="{% url 'users:detail' employee.id %}?page={{ request.GET.page }}" rel="delete" class="btn btn-info btn-xs btn-flat"><i class="fas fa-folder-open"></i></a> -->
            </td>
          </tr>
        
        {% endif %}
      {% endfor %}
      {% endblock contenido %}
      </tbody>
    </table>

  </div>
</div>
<!-- end panel -->
{% endblock %}

{% block scripts %}

var enviando = false;
// Botón de Autorización Firma Electrónica
$('#btn_autoriza').on('click', function(e){
  var id = $(this).data('id');
  var URL = '/users/'+id+'/autorizacion/';
  console.log("El URL..");
  console.log(URL);
  $.ajax({
      url: URL,
      type: 'get',
      dataType: 'json',
  });
    $(this).prop('disabled', true);
    $(this).addClass('disabled');

    e.preventDefault();

    var $form = $('#btn_autoriza');
      if(!enviando){
          enviando = true;
          $(this).html('<i class="fa fa-spinner fa-pulse margin-r-5"></i> Enviando...');
          $form.submit();
          iziToast.success({
            message: 'Autorización de Firma Electrónica enviada Exitosamente',
            position: 'topRight',
          });
          window.location.reload();
      }else{
          console.log("El formulario ya se esta enviando...");
      }

})


  {% if messages %}
      console.log('mensajes');
      {% for mensaje in messages %}
          console.log("{{ mensaje.tags}}"+" "+"{{ mensaje }}");
          {% if mensaje.tags == 'success' %}
            iziToast.success({
                message: '{{ mensaje }}',
                position: 'topRight',
            });
          {% elif mensaje.tags == 'error' %}
            iziToast.error({
                message: '{{ mensaje }}',
                position: 'topRight',
            });
          {% endif %}
      {% endfor %}

  {% endif %}
  
{% endblock %}
