{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}Usuarios{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'admin/assets/plugins/bootstrap-select/css/bootstrap-select.min.css' %}">
{% endblock %}

{% block content %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Usuarios</a></li>
  <li class="breadcrumb-item active">Cambiar Clave</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Usuarios <small>Cambiar Clave</small></h1>
<!-- end page-header -->

<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      {% if user.last_login %}
      <span class="panel-title" style="font-style: italic;">

      </span>
      {% endif %}
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    </div>
    <h4 class="panel-title">
      {{ user.first_name|upper }} {{ user.last_name|upper }}</h4>
  </div>
  <div class="panel-body">
    {% if form.non_field_errors%}
      <div class="alert alert-danger fade show">
        <span class="close" data-dismiss="alert">×</span>
        <h4><i class="icon fa fa-exclamation-triangle"></i> Revisa el formulario!</h4>
        {% for err in form.non_field_errors %}{{ err }}<br>{% endfor %}
      </div>
    {% else %}
      <div class="alert alert-danger fade show" id="msgbox" style="display: none;">
        <span class="close" data-dismiss="alert">×</span>
        <span>
          <strong><i class="icon fa fa-exclamation-triangle text-danger pr-1"></i>
            <span id="num-errors"></span></strong>
          Revisa el formulario, sigue las instrucciones y completa los datos.</span>
      </div>
    {% endif %}
    <form method="post" autocomplete="off" novalidate>
      {% csrf_token %}
      {% include 'basic_form.html' with form=form %}
      <div class="form-group row m-b-0">
        <label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
        <div class="col-md-8 col-sm-8 text-right">
          <a href="{% url 'users:detail' user.id %}" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success" id="btn-guardar">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end panel -->
{% endblock %}
{% block librerias %}
    <script src="{% static 'admin/assets/plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/bootstrap-select/js/i18n/defaults-es_CL.min.js' %}"></script>
    <!-- jquery validation -->
    <script src="{% static "admin/assets/plugins/jquery-validation/dist/jquery.validate.min.js" %}"></script>
    <script src="{% static "admin/assets/plugins/jquery-validation/dist/localization/messages_es_PE.min.js" %}"></script>
{% endblock %}

