{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block page_title %}Usuarios{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'admin/assets/plugins/bootstrap-select/css/bootstrap-select.min.css' %}">
{% endblock %}

{% block content %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Usuarios</a></li>
  <li class="breadcrumb-item active">Detalle</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Usuarios <small>Detalle</small></h1>
<!-- end page-header -->

<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      {% if usuario.last_login %}
      <span class="panel-title" style="font-style: italic;">
        Último acceso el:
        <strong>{{ usuario.last_login|date:'d/M/Y' }}</strong>
      </span>
      {% endif %}
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    </div>
    <h4 class="panel-title">
      {{ usuario.first_name|upper }} {{ usuario.last_name|upper }}</h4>
  </div>
  <div class="panel-body" style="padding:50px;" >

    <form method="post" autocomplete="off" novalidate>
      {% csrf_token %}
      <div class="form-row form-row">
        <div class="form-group col-md-4 mb-0">
          <div id="div_id_group" class="form-group">
            <label for="id_group" class=" requiredField"> Perfil </label>
            <div class="form-control">{{ usuario.groups.first.name }}</div>
          </div>
        </div>
        <div class="form-group col-md-4 mb-0" >
          <div id="div_id_rut" class="form-group">
            <label for="id_rut" class=" requiredField">RUT </label>
            <div class="form-control">{{ usuario.rut }}</div>
          </div>
        </div>
        <div class="form-group col-md-4 mb-0" >
          <div id="div_id_pasaporte" class="form-group">
            <label for="id_pasaporte" class=""> Pasaporte</label>
            <div class="form-control">{{ usuario.pasaporte }}</div>
          </div>
        </div>
      </div>
      <div  class="form-row form-row" >
        <div class="form-group col-md-6 mb-0" >
          <div id="div_id_first_name" class="form-group">
            <label for="id_first_name" class=" requiredField">Nombres </label>
            <div class="form-control">{{ usuario.first_name|lower|title }}</div>
          </div>
        </div>
        <div class="form-group col-md-6 mb-0" >
          <div id="div_id_last_name" class="form-group">
            <label for="id_last_name" class=" requiredField">Apellidos </label>
            <div class="form-control">{{ usuario.last_name|lower|title }}</div>
          </div>
        </div>
      </div>
      <div  class="form-row form-row" >
        <div class="form-group col-md-6 mb-0" >
          <div id="div_id_fecha_nacimiento" class="form-group">
            <label for="start" class=" requiredField">Fecha de Nacimiento </label>
            <div class="form-control">{{ usuario.fecha_nacimiento|date:'d/m/Y' }}</div>
          </div>
        </div>
        <div class="form-group col-md-6 mb-0" >
          <div id="div_id_sexo" class="form-group">
            <label for="id_sexo" class="">Sexo</label>
            <div class="form-control">{{ usuario.sexo.nombre }}</div>
          </div>
        </div>
      </div>
        <div  class="form-row form-row" >
          <div class="form-group col-md-6 mb-0" >
            <div id="div_id_telefono" class="form-group">
              <label for="id_telefono" class="">Teléfono</label>
              <div class="form-control">{{ usuario.telefono }}</div>
            </div>
          </div>
          <div class="form-group col-md-6 mb-0" >
            <div id="div_id_telefono" class="form-group">
              <label for="id_telefono" class="">Teléfono</label>
              <div class="form-control">{{ usuario.telefono }}</div>
            </div>
          </div>
        </div>
        <div  class="form-row form-row" >
          <div class="form-group col-md-6 mb-0" > 
            <div id="div_id_email" class="form-group">
              <label for="id_email" class=" requiredField">Email </label>
              <div class="form-control">{{ usuario.email|lower }}</div>
            </div>
          </div>
          <div class="form-group col-md-6 mb-0" >
            <div id="div_id_estado_civil" class="form-group">
              <label for="id_estado_civil" class=" requiredField">Estado Civil </label>
              <div class="form-control">{{ usuario.estado_civil.nombre }}</div>
            </div>
          </div>
        </div>
        <div class="form-row form-row" >
          <div class="form-group col-md-6 mb-0" >
            <div id="div_id_nacionalidad" class="form-group">
              <label for="id_nacionalidad" class="">Nacionalidad</label>
              <div class="form-control">{{ usuario.nacionalidad.nombre }}</div>
            </div>
          </div>
          <div class="form-group col-md-6 mb-0" >
            <div id="div_id_foto" class="form-group">
              <label for="id_foto" class="">Foto</label>
              <div class="form-control">{{ usuario.foto }}</div>
            </div>
          </div>
        </div>
        <div  class="form-row form-row" >
          <div class="form-group col-md-4 mb-0" >
            <div id="div_id_region" class="form-group">
              <label for="id_region" class="">Region</label>
              <div class="form-control">{{ usuario.region|lower|title }}</div>
            </div> 
          </div>
          <div class="form-group col-md-4 mb-0" > 
            <div id="div_id_provincia" class="form-group">
              <label for="id_provincia" class="">Provincia</label>
              <div class="form-control">{{ usuario.provincia.nombre }}</div>
            </div> 
          </div>
          <div class="form-group col-md-4 mb-0" >
            <div id="div_id_ciudad" class="form-group">
              <label for="id_ciudad" class="">Ciudad</label>
              <div class="form-control">{{ usuario.ciudad.nombre }}</div>
            </div> 
          </div>
        </div>
        <div id="div_id_domicilio" class="form-group">
          <label for="id_domicilio" class="">Domicilio</label>
          <div class="form-control">{{ usuario.domicilio }}</div>
        </div>
        <div  class="form-row form-row" >
          <div class="form-group col-md-4 mb-0" >
            <div id="div_id_afp" class="form-group">
              <label for="id_afp" class=" requiredField">Sistema Previsión </label>
              <div class="form-control">{{ usuario.afp.nombre }}</div>
            </div> 
          </div>
          <div class="form-group col-md-4 mb-0" >
            <div id="div_id_salud" class="form-group">
              <label for="id_salud" class=" requiredField">Sistema Salud </label>
              <div class="form-control">{{ usuario.salud.nombre }}</div>
            </div> 
          </div>
          <div class="form-group col-md-4 mb-0" >
            <div id="div_id_pacto_uf" class="form-group">
              <label for="id_pacto_uf" class="">Pacto uf</label>
              <div class="form-control">{{ usuario.pacto_uf }}</div>
            </div> 
          </div>
        </div>
        <div class="form-row form-row" >
          <div class="form-group col-md-6 mb-0" >
            <div id="div_id_especialidad" class="form-group">
              <label for="id_especialidad" class="">Especialidad</label>
                <div class="form-control">{{ usuario.especialidad.nombre }}</div>
            </div>
          </div>
          <div class="form-group col-md-6 mb-0" >
            <div id="div_id_nivel_estudio" class="form-group">
              <label for="id_nivel_estudio" class="">Nivel estudio</label>
              <div class="form-control">{{ usuario.nivel_estudio.nombre }}</div>
            </div>
          </div>
        </div>
        <div  class="form-row form-row" >
          <div class="form-group col-md-4 mb-0" >
            <div id="div_id_banco" class="form-group">
              <label for="id_banco" class="">Banco</label>
              <div class="form-control">{{ usuario.banco.nombre }}</div>
            </div>
          </div>
          <div class="form-group col-md-4 mb-0" >
            <div id="div_id_tipo_cuenta" class="form-group">
              <label for="id_tipo_cuenta" class=" requiredField">Tipo Cuenta </label>
              <div class="form-control">{{ usuario.tipo_cuenta.nombre }}</div>
            </div>
          </div>
          <div class="form-group col-md-4 mb-0" >
            <div id="div_id_cuenta" class="form-group">
              <label for="id_cuenta" class=" requiredField">Número de Cuenta </label>
              <div class="form-control">{{ usuario.cuenta }}</div>
            </div>
          </div>
        </div>
        <div  class="form-row form-row" >
          <div class="form-group col-md-4 mb-0" >
            <div id="div_id_talla_polera" class="form-group">
              <label for="id_talla_polera" class="">Talla polera</label>
              <div class="form-control">{{ usuario.talla_polera }}</div>
            </div>
          </div>
          <div class="form-group col-md-4 mb-0" >
            <div id="div_id_talla_pantalon" class="form-group">
              <label for="id_talla_pantalon" class="">Talla pantalón</label>
              <div class="form-control">{{ usuario.talla_pantalon }}</div>
            </div>
          </div>
          <div class="form-group col-md-4 mb-0" >
            <div id="div_id_calzado" class="form-group">
              <label for="id_calzado" class="">Calzado</label>
              <div class="form-control">{{ usuario.calzado }}</div>
            </div>
          </div>
        </div>
        <div  class="form-row form-row" >
          <div class="form-group col-md-6 mb-0" >
            <div id="div_id_licencia_conducir" class="form-group">
              <label for="id_licencia_conducir" class=" requiredField">Licencia conducir </label>
              <div class="form-control">{{ usuario.licencia_conducir }}</div>
            </div>
          </div>
          <div class="form-group col-md-6 mb-0" >
            <div class="form-group">
              <div id="div_id_examen" class="custom-control custom-checkbox">
                <div class="text-left">
                  <label for="id_examen">Examen: </label>
                  {{ usuario.examen|tag_examen|safe }}
                  <!-- <small id="hint_id_examen" class="form-text text-muted">Para solicitar examen psicológico al usuario, habilite esta casilla.</small> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div  class="form-row form-row" >
          <div class="form-group col-md-6 mb-0" >
            <div id="div_id_cliente" class="form-group">
              <label for="id_cliente">Cliente(s):</label>
              <!-- <div class="form-control">{{ usuario.cliente|lower|title }}</div> -->
                <ul>
                {% for p in usuario.cliente.all %}
                  <li style="font-size: small;">{{ p.razon_social|title }}</li>
                {% empty %}
                  <li>Sin cliente(s) asignada(s)</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="form-group col-md-6 mb-0" >
            <div id="div_id_planta" class="form-group">
              <label for="id_planta">Planta(s): </label>
                <ul>
                {% for p in usuario.planta.all %}
                  <li style="font-size: small;">{{ p.nombre|title }}</li>
                {% empty %}
                  <li>Sin planta(s) asignada(s)</li>
                {% endfor %}
              </ul>
          </div>
        </div>
      </div>
      <div class="form-group">
        {% if usuario.is_active %}
        <div class="col-md-6 form-control-lg text-center">
          {% if usuario.id == request.user.id %}
          <a href="{% url 'users:change_password' %}" class="btn btn-md btn-warning">
            <i class="fas fa-lg fa-key"></i> Cambiar Clave</a>
          {% comment %}{% else %}
            {% if user.groups.first.name == 'Administrador' or user.groups.first.name == 'Administrador Contratos' %}
              <a href="{% url 'users:admin_change_password' usuario.id %}" class="btn btn-warning">
                <i class="fas fa-lg fa-key"></i> Cambiar Clave</a>
            {% endif %}{% endcomment %}
          {% endif %}
        </div>
      {% endif %}
        <div class="col-md-6 offset-md-6 text-right">
          {{ usuario.is_active|tag_active_detail|safe }}
          <small class="form-text text-muted">Indica si el usuario debe ser tratado como activo. Desmarque esta opción en lugar de borrar la cuenta.</small>
        </div>
      </div>

      <div class="form-group row m-b-0">
        {% if user.groups.first.name == 'Administrador' or user.groups.first.name == 'Administrador Contratos' %}
        <div class="col-md-4 col-sm-4 col-form-label">
          {% if usuario.groups.first.name == 'Trabajador' %}
            <a href="{% url 'users:detail' usuario.id %}?page={{ request.GET.page }}" class="btn btn-warning"><i class="fas fa-list-alt"></i> Contrato</a>
          {% endif %}
        </div>
        {% else %}
        <div class="col-md-4 col-sm-4 col-form-label">
          <!-- Alinear boton de volver -->
        </div>
        {% endif %}

        <div class="col-md-8 col-sm-8 text-right">
          {% if perms.user.add_user %}
            <a href="{% url 'users:list' %}?page={{ request.GET.page }}" class="btn btn-default">Volver</a>
          {% else %}
            <a href="{% url 'home' %}" class="btn btn-default">Volver</a>
          {% endif %}
          {% if request.user.groups.first.name == 'Administrador Contratos' or request.user.groups.first.name == 'Administrador' %}
          <b>
            {% if usuario.groups.first.name == 'Trabajador' or request.user.groups.first.name == 'Administrador' %}
            <a href="{% url 'users:update' usuario.id %}?page={{ request.GET.page }}" class="btn btn-success">Editar</a>
            {% endif %}
          </b>
            
          {% endif %}
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="modal-usuario">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
</div>
<!-- end panel -->
{% endblock %}
{% block librerias %}
    <script src="{% static 'admin/assets/plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/bootstrap-select/js/i18n/defaults-es_CL.min.js' %}"></script>
    <!-- jquery validation -->
    <script src="{% static "admin/assets/plugins/jquery-validation/dist/jquery.validate.min.js" %}"></script>
    <script src="{% static "admin/assets/plugins/jquery-validation/dist/localization/messages_es_PE.min.js" %}"></script>
{% endblock %}

{% block scripts %}
  {% if messages %}
        console.log('mensajes');
        {% for mensaje in messages %}
            console.log("{{ mensaje.tags}}"+" "+"{{ mensaje }}");
            {% if mensaje.tags == 'success' %}
              iziToast.success({
                  message: '{{ mensaje }}',
                  position: 'topRight',
              });
            {% elif mensaje.tags == 'error' %}
              iziToast.error({
                  message: '{{ mensaje }}',
                  position: 'topRight',
              });
            {% endif %}
        {% endfor %}

    {% endif %}
{% endblock %}
