<form method="post" action="{% url 'users:generar_contrato' user_id=usuario.id %}"
      class="js-generar-contrato-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Generar Contrato</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      Desea generar el set de contrato de:
      <p style="font-weight: bold;">{{ usuario.first_name|upper }} {{ usuario.last_name|upper }}</p>
    </div>
    <div class="msg-loading text-center"  style="display: none;">
      <div class="fa-2x">
        <i class="fas fa-spinner fa-pulse"></i>
      </div>
      <span class="text-black-darker" style="font-style: italic;">Generando Documentos...</span>

    </div>
    <div class="msg-error" style="display: none;">
      <div class="alert alert-warning fade show">
          <i class="fas fa-exclamation-circle m-r-2"></i><strong>No se puede generar el contrato</strong>
          <p class="msg-box text-black-darker">Aqui va el mensaje.</p>
      </div>
    </div>
    <div class="msg-success" style="display: none;">
      <div class="alert alert-success fade show">
          <p class="text-black-darker">
            <i class="fas fa-check m-r-5"></i><strong>Contrato generado</strong>
            <span class="success-msg-box">Aqui va el mensaje.</span>
            <a href="javascript:;" class="alert-link success-link">aquí</a>. </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
    <button type="submit" class="btn btn-warning btn-modal-submit">Generar</button>
  </div>
</form>
