{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block page_title %}Clientes{% endblock %}
{% block styles %}
img {
  width: 3em;
}
.img-div {
  float: left;
  text-align: center;
  padding-right: 0.5em;
}

.text-name {
  margin-bottom: 0em;
  font-weight: bold;
  font-size: small;
  font-size: 13px;
}

.text-desc {
 margin-top:-0.3em;
 margin-bottom: 0;
 padding-left: 2.7em;
 font-size: small;
 font-style: italic;
}

.list-negocios{
  vertical-align: middle;
  font-size: small;
}

.centrar{
    align-items: center;
    justify-content: center;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background: #00acac !important;
    border-color: #00acac !important;
    color: #fff;
}

{% endblock %}
{% block content %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Clientes</a></li>
  <li class="breadcrumb-item active">Listado</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Clientes <small>Listado</small></h1>
<!-- end page-header -->

<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
    </div>
    <h4 class="panel-title">Todos los clientes</h4>
  </div>
    </header>
    <div class="panel-body">

    <table  id="data-table-default" class="table table-striped table-bordered table-td-valign-middle">
      <thead>
          <tr>
              <th class="text-center">Datos Cliente</th>
          </tr>
      </thead>
      <tbody>
      {% block contenido %}
      {% for clte in clients  %}
          <tr>
            <td>
                <a title="Editar" href="{% url 'utils:create_cliente' clte.id %}?page={{ request.GET.page }}">
                  <span class="text-name text-success">
                    <!-- {{ c.razon_social }} -->
                    {{ clte.razon_social|upper }}<br>
                    {{ clte.giro|title }}<br>
                    {{ clte.rut }}<br>
                    {{ clte.status|tag_active|safe }}
                  </span>
                </a>
                <!-- <p class="text-desc">
                  {{ clte.groups.first.name|title }}
                </p> -->
                <p class="text-desc"><br>
                  <i class="fas fa-at fa-xs"></i>
                  {{ clte.email|lower }}
                  <i class="fas fa-phone fa-xs"></i>
                  {{ clte.telefono|lower }}
                </p>
            </td>
            <!-- <td class="list-negocios"> -->
              <!-- {% for n in business %} -->
                <!-- <ul>
                  {% for p in business %}
                    <li>{{ p }}</li>
                  {% endfor %}
                </ul> -->
              <!-- {% endfor %} -->
            <!-- </td>
            <td class="list-plantas"> -->
              <!-- <b>{{ clte.nombre|title }}</b><br>
              {{ clte.ciudad|title }}<br> -->
              <!-- {{ clte.direccion|title }}<br>
              <b>{{ clte.nombre_gerente|title }}</b>
              <br> -->
              <!-- {{ clte.rut_gerente|title }} -->
            <!-- </td> -->
            <!-- <td class="list-negocios">
                <ul>
                  {% for p in clte.negocio.all %}
                    <li>{{ p.nombre }}</li>
                  {% empty %}
                    <li>Sin asignar</li>
                  {% endfor %}
                </ul>
            </td> -->
            <!-- <td class="list-plantas">
                <ul>
                  {% for p in clte.planta.all %}
                    <li>{{ p.nombre }}</li>
                  {% empty %}
                    <li>Sin asignar</li>
                  {% endfor %}
                </ul>
            </td> -->
          </tr>
      {% endfor %}
      {% endblock contenido %}
      </tbody>
    </table>

  </div>
</div>
<!-- end panel -->
{% endblock %}
{% block scripts %}

  {% if messages %}
        console.log('mensajes');
        {% for mensaje in messages %}
            console.log("{{ mensaje.tags}}"+" "+"{{ mensaje }}");
            {% if mensaje.tags == 'success' %}
              iziToast.success({
                  message: '{{ mensaje }}',
                  position: 'topRight',
              });
            {% elif mensaje.tags == 'error' %}
              iziToast.error({
                  message: '{{ mensaje }}',
                  position: 'topRight',
              });
            {% endif %}
        {% endfor %}

    {% endif %}
{% endblock %}
