{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block page_title %}Psicólogos{% endblock %}

{% block content %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Psicólogos / Solicitudes</a></li>
  <li class="breadcrumb-item active">Listado</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Solicitudes Pendientes <small>Listado</small></h1>
<!-- end page-header -->

<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    </div>
    <h4 class="panel-title">Revisión de Solicitudes</h4>
  </div>
  <div class="panel-body">
    
      
      <table id="data-table-default" class="table table-striped table-bordered table-td-valign-middle ">
        <thead>
          <tr>
              <th>Trabajador</th>
              <th>Requerimiento</th>
              <th>Planta</th>
              <th>Psicológico</th>
              <th>Hal2</th>
              <th>Acciones</th>
          </tr>
        </thead>
        {% block rows %}

        {% endblock %}
      
      
    </table>

  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="myModalEvaluacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form method="post" action="." enctype="multipart/form-data">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <b><i class="fas fa-search"></i> <span></span></b>
      </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <fieldset>
          <div class="row">
                {% csrf_token %}
                <div class="row col-md-12">
                  <div class="form-group col-md-12">
                    <label for="email">Estado:</label>
                    {{ form1.estado }}
                  </div>
                </div>
                <div class="row col-md-12">
                  <div class="form-group col-md-12">
                    <label for="email">Observaciones:</label>
                    {{ form1.obs }}
                  </div>
                </div>
                <input name="action" type="hidden" value="">
                <input name="user_id" id="user_id" type="hidden" value="">
                <input name="psicologo" id="psicologo" type="hidden" value="0">
                <input name="id" id="id" type="hidden" value="0">
          </div>
        </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit"  class="btn btn-info btn-flat btnAdd4"> Guardar</button>
      </div>
    </div>
  </div>
</form>
</div>


{% endblock %}



{% block javascript %}
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="myModalAgenda" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <!-- <form method="post" action="." enctype="multipart/form-data">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                <b><i class="fas fa-search"></i> <span></span></b>
            </h5>
              <button type="button" align="right" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% csrf_token %}
            <div class="modal-body">
              <div class="container-fluid">
                  <div class="row col-md-12">
                    <div class="form-group col-md-6">
                      <label > Estado</label>
                        {{ form.estado }}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="email">Tipo</label>
                        {{ form.tipo }}
                    </div>
                  </div>
                  <div class="row col-md-12">
                    <div class="form-group col-md-6">
                      <label for="email"> Fecha Ingreso</label>
                        {{ form.fecha_ingreso_estimada }}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="email">Fecha Evaluación</label>
                        {{ form.fecha_agenda_evaluacion }}
                    </div>
                  </div>
                  <div class="row col-md-12">
                    <div class="form-group col-md-6">
                      <label for="email"> Planta</label>
                        {{ form.planta }}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="email"> Cargo</label>
                        {{ form.cargo }}
                    </div>
                  </div>
                  <div class="row col-md-12">
                    <div class="form-group col-md-6">
                      <label for="email"> Evaluador</label>
                        {{ form.psico }}
                    </div>
                    <div class="form-group col-md-3">
                      <label for="email"> Hal2</label>
                        {{ form.hal2 }}
                    </div>
                    <div class="form-group col-md-3">
                      <label for="email">Referido</label>
                        {{ form.referido }}
                    </div>
                  </div>

                  <div class="row col-md-12">
                      <div class="form-group col-md-12">
                        <label for="email">Observaciones</label>
                          {{ form.obs }}
                      </div>
                  <input name="id" id="id" type="hidden" value="0">
                  <input name="action" type="hidden" value="add">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit"  id="btn-guardar" class="btn btn-primary">Guardar</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </form> -->
    </div>
{% endblock %}

<!-- end panel -->
{% block librerias %}
<script src="{% static 'admin/assets/js/crud/rev_solicitudes_list.js' %}"></script>
<script src="{% static 'admin/assets/js/fecha_hora.js' %}"></script>

{% endblock %}
