{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}Clientes{% endblock %}
{% block styles %}
.text-name {
  margin-bottom: 0em;
  font-weight: bold;
  font-size: small;
}
.text-desc {
  font-style: italic;
  margin-top:-0.1em;
  padding-left: 0.1em;
  font-size: small;
}
.estado-fichero{
  text-align: center;
  vertical-align: middle;
}
.centrar{
    align-items: center;
    justify-content: center;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background: #153264!important;
    border-color: #153264 !important;
    color: #fff;
}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'admin/assets/plugins/bootstrap-select/css/bootstrap-select.min.css' %}">
{% endblock %}

{% block content %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
  <li class="breadcrumb-item"><a href="{% url 'clientes:list' %}">Clientes</a></li>
  <li class="breadcrumb-item active">Nuevo</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Clientes <small>Nuevo</small></h1>
<!-- end page-header -->

<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      {% if usuario.last_login %}
      <span class="panel-title" style="font-style: italic;">
        Ultimo acceso el:
        <strong>{{ usuario.last_login|date:'d/M/Y' }}</strong>
      </span>
      {% endif %}
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
    </div>
    <h4 class="panel-title">
      Nuevo Cliente</h4>
  </div>
  <div class="panel-body">

    {% if form.non_field_errors %}
      <div class="alert alert-danger fade show">
        <span class="close" data-dismiss="alert">×</span>
        <h4><i class="icon fa fa-exclamation-triangle"></i> Revisa el formulario!</h4>
        {% for err in form.non_field_errors %}{{ err }}<br>{% endfor %}
      </div>
    {% else %}
      <div class="alert alert-danger fade show" id="msgbox" style="display: none;">
        <span class="close" data-dismiss="alert">×</span>
        <span>
          <strong><i class="icon fa fa-exclamation-triangle text-danger pr-1"></i>
            <span id="num-errors"></span></strong>
          Revisa el formulario, sigue las instrucciones y completa los datos.</span>
      </div>
    {% endif %}
    <div class="card-body">
      <div id="wizard">
				<ul>
          <li class="nav-item">
            <a href="#step-1">
              <span class="number">1</span> 
							<span class="info">
								Cliente
								<small>Razón Social, RUT, Giro</small>
							</span>
						</a>
					</li>
          <li class="nav-item done">
            <a href="#step-2">
              <span class="number">2</span> 
							<span class="info">
                Negocios
                <small>Nombre y Descripción</small>
							</span>
						</a>
					</li>
          <li class="nav-item done">
            <a href="#step-3">
              <span class="number">3</span> 
							<span class="info">
                Plantas
                <small>Dirección y Gratif.</small>
							</span>
						</a>
					</li>
          <li class="nav-item done">
            <a href="#step-4">
              <span class="number">4</span> 
							<span class="info">
                Contactos
                <small>Planta, Vínculo</small>
							</span>
						</a>
					</li>
          <li class="nav-item done">
            <a href="#step-5">
              <span class="number">5</span> 
							<span class="info">
                Convenios
                <small>Insumo y Valor</small>
							</span>
						</a>
					</li>
				</ul>
			  <!-- end wizard-step -->
			  <!-- begin wizard-content -->
			  <div>
					<!-- begin step-1 -->
					<div id="step-1">
            <form method="post" action="{% url 'clientes:update' cliente_id %}" autocomplete="off" novalidate id="CrearClienteForm" data-provincias-url="{% url 'users:ajax_load_ciudades' %}">
							<fieldset>
								<div class="row">
									<div class="col-xl-8 offset-xl-2">
										<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Datos del Cliente</legend><hr /><br> 
                    {% csrf_token %}
                    {% crispy form1 %}
                    <input name="action" type="hidden" value="cliente_add">
                    <input name="cliente_id" id="cliente_id" type="hidden" value="{{ cliente_id }}">
                  </div>
								</div>
							</fieldset>
                <div id="alerta" class="alert alert-info alert-dismissible fade show text-center" role="alert">
                  <span id="mensaje">Ingrese un RUT en el siguiente campo de texto para validar si es correcto o no.</span>
                </div>
              <div class="form-group row m-b-0">
                <label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
                <div class="col-md-8 col-sm-8 text-right">
                  <button type="submit" class="btn btn-success BtnAdd1" id="btn-guardar">Guardar</button>
                </div>
              </div>
            </form>
					</div>
					<div id="step-2">
						<!-- begin fieldset -->
						<fieldset>
							<!-- begin row -->
							<div class="row">
								<!-- begin col-8 -->
								<div class="col-xl-8 offset-xl-2">
									<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Negocio(s) del Cliente</legend><hr /><br>
									<!-- begin form-group row -->
                  <div class="row col-md-12">
                    <a class="btn btn-primary btn-flat btnAdd" style="color: white;">
                      <i class="fas fa-plus"></i> Nuevo registro
                    </a>
                  </div>
                  <br>
                <div class="table-responsive">
                  <table id="data-table-default" class="table table-striped table-bordered table-td-valign-middle ">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Archivo</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    {% block rows2 %}

                    {% endblock %}
                  </table>
                </div>

                    {% block javascript2 %}
                      <!-- Modal -->
                      <div class="modal fade" id="myModalnegocio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <form method="post" action="." enctype="multipart/form-data">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">
                                  <b><i class="fas fa-search"></i> <span></span></b>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="container-fluid">
                                  <input name="action" type="hidden" value="negocio_add">
                                  <input name="cliente_id" id="cliente_id" type="hidden" value="{{ cliente_id }}">
                                  <input name="id" id="id" type="hidden" value="0">
                                    {% for field in form2.visible_fields %}
                                      <div class="form-group">
                                        <label for="email">{{ field.label }}:</label>
                                          {{ field }}
                                      </div>
                                    {% endfor %}
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button  type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" id="boton1" class="btn btn-info btn-flat btnAdd2"> Guardar</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    {% endblock %}
                </div>
								<!-- end col-8 -->
							</div>
							<!-- end row -->
						</fieldset>
						<!-- end fieldset -->
					</div>
					<!-- end step-2 -->
					<!-- begin step-3 -->
					<div id="step-3">
						<!-- begin fieldset -->
						<fieldset>
							<!-- begin row -->
							<div class="row">
								<!-- begin col-8 -->
								<div class="col-xl-8 offset-xl-2">
									<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Planta(s) del Cliente</legend><hr /><br>
                    <div class="row col-md-12">
                      <a class="btn btn-primary btn-flat btnAddplanta" style="color: white;">
                        <i class="fas fa-plus"></i> Nuevo registro
                      </a>
                    </div>
                    <br>
                  <div class="table-responsive">
                    <table id="data-table-buttons_wrapper" class="table table-striped table-bordered table-td-valign-middle">
                      <thead>
                        <tr>
                          <th>Razón social</th>
                          <th>Rut</th>
                          <th>Negocio</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      {% block rows3 %}

                      {% endblock %}
                    </table>
                  </div>

                      {% block javascript3 %}
                        <!-- Modal -->
                        <div class="modal fade bd-example-modal-lg" id="myModalPlanta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                          <form method="post" action="." autocomplete="off" novalidate>
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">
                                    <b><i class="fas fa-search"></i> <span></span></b>
                                  </h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="container-fluid">
                                    <input name="action" type="hidden" value="planta_add">
                                    <input name="id" id="id" type="hidden" value="0">
                                    <input name="cliente_id" id="cliente_id" type="hidden" value="{{ cliente_id }}">
                                    <!-- {% csrf_token %}
                                    {% crispy form3 %} -->
                                      <div class="row col-md-12">
                                        <div class="form-group col-md-6">
                                          <label for="email"> Negocio</label>
                                            {{ form3.negocio }}
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="email">RUT Planta</label>
                                            {{ form3.rut }}
                                        </div>
                                      </div>
                                      <div class="row col-md-12">
                                        <div class="form-group col-md-12">
                                          <label for="email">Razón Social</label>
                                            {{ form3.nombre }}
                                        </div>
                                      </div>
                                      <div class="row col-md-12">
                                        <div class="form-group col-md-6">
                                          <label for="email">Teléfono Planta</label>
                                            {{ form3.telefono }}
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="email">Correo Planta</label>
                                            {{ form3.email }}
                                        </div>
                                      </div>
                                      <div class="row col-md-12">
                                        <div class="form-group col-md-6">
                                          <label for="email">Bonos</label>
                                            {{ form3.bono }}
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="email">Gratificación</label>
                                            {{ form3.gratificacion }}
                                        </div>
                                      </div>
                                      <div class="row col-md-12">
                                        <div class="form-group col-md-2">
                                          <label for="email">Masso</label>
                                            {{ form3.masso }}
                                        </div>
                                        <div class="form-group col-md-2">
                                          <label for="email">Psicológico</label>
                                            {{ form3.psicologico }}
                                        </div>
                                        <div class="form-group col-md-2">
                                          <label for="email">Hal2</label>
                                            {{ form3.hal2 }}
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="email">Baterías</label>
                                            {{ form3.bateria }}
                                        </div>
                                      </div>
                                      <div class="row col-md-12">
                                        <div class="form-group col-md-4">
                                          <label for="email">Región</label>
                                            {{ form3.region }}
                                        </div>
                                        <div class="form-group col-md-4">
                                          <label for="email">Provincia</label>
                                            {{ form3.provincia }}
                                        </div>
                                        <div class="form-group col-md-4">
                                          <label for="email">Ciudad</label>
                                          {{ form3.ciudad }}
                                        </div>
                                      </div>
                                      <div class="row col-md-12">
                                        <div class="form-group col-md-12">
                                          <label for="email">Dirección</label>
                                            {{ form3.direccion }}
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row col-md-12">
                                        <div class="form-group col-md-6">
                                          <label for="email">RUT Gerente</label>
                                            {{ form3.rut_gerente }}
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="email">Nombre Gerente</label>
                                            {{ form3.nombre_gerente }}
                                        </div>
                                      </div>
                                      <div class="row col-md-12">
                                        <div class="form-group col-md-12">
                                          <label for="email">Dirección Gerente</label>
                                            {{ form3.direccion_gerente }}
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" id="boton2" class="btn btn-info btn-flat btnAdd3"> Guardar</button>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      {% endblock %}
                      <div class="modal fade bd-example-modal-lg" id="myModalContactoPlanta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <form method="post" action="." enctype="multipart/form-data">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Contacto Planta <small>Nuevo</small></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <fieldset>
                                  <div class="row">
                                    <div class="row col-md-12">
                                      {% csrf_token %}
                                      {% crispy form4 %}
                                    </div>
                                    <div class="row col-md-12">
                                      <input name="action" type="hidden" value="cp_contacto_add">
                                      <input name="id" id="id" type="hidden" value="0">
                                      <input name="planta_id" id="planta_id" type="hidden" value="">
                                      <input name="cliente_id" id="cliente_id"  type="hidden" value="{{ cliente_id }}">
                                    </div>
                                  </div>
                                </fieldset>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" id="boton5" class="btn btn-info btn-flat btnAdd4" disabled> Guardar</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <!-- MODAL CONVENIO -->
                      <div class="modal fade bd-example-modal-lg" id="myModalConvenio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <form method="post" action="." enctype="multipart/form-data">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Convenio Planta <small>Nuevo</small></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <fieldset>
                                  <div class="row">
                                    <div class="row col-md-12">
                                      {% csrf_token %}
                                      {% crispy form5 %}
                                    </div>
                                    <div class="row col-md-12">
                                      <input name="action" type="hidden" value="convenio_add">
                                      <input name="id" id="id" type="hidden" value="0">
                                      <input name="planta_id" id="planta_id" type="hidden" value="">
                                      <input name="cliente_id" id="cliente_id"  type="hidden" value="{{ cliente_id }}">
                                    </div>
                                  </div>
                                </fieldset>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" id="botonConv" class="btn btn-info btn-flat btnAdd4"> Guardar</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                </div>
							</div>
						</fieldset>
					</div>
					<div id="step-4">
						<!-- begin fieldset -->
						<fieldset>
							<!-- begin row -->
							<div class="row">
								<!-- begin col-8 -->
								<div class="col-xl-8 offset-xl-2">
									<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Contacto(s) de las Planta(s)</legend><hr /><br>
									<!-- begin form-group row -->
                  <br>
                <div class="table-responsive">
                  <table id="data-table-responsive" class="table table-striped table-bordered table-td-valign-middle">
                    <thead>
                      <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Plantas</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    {% block rows4 %}

                    {% endblock %}
                  </table>
                </div>

                    {% block javascript4 %}
                      <!-- Modal -->
                      <div class="modal fade bd-example-modal-lg" id="myModalContactoPlantaE" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <form method="post" action="." enctype="multipart/form-data">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Contacto Planta <small>Nuevo</small></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <fieldset>
                                  <div class="row">
                                    {% csrf_token %}
                                    <input name="planta_id" id="planta_id" type="hidden" value="">
                                    <div class="row col-md-12">
                                      {% crispy form4 %}
                                    </div>
                                      <input name="action" type="hidden" value="cp_contacto_add">
                                      <input name="id" id="id" type="hidden" value="">
                                      <input name="user_id" id="user_id" type="hidden" value="">
                                      <input name="cliente_id" id="cliente_id" type="hidden" value="{{ cliente_id }}">
                                  </div>
                                </fieldset>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" id="boton6" class="btn btn-info btn-flat btnAdd4"> Guardar</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    {% endblock %}
                </div>
								<!-- end col-8 -->
							</div>
							<!-- end row -->
						</fieldset>
						<!-- end fieldset -->
					</div>
					<!-- end step-4 -->
					<div id="step-5">
						<!-- begin fieldset -->
						<fieldset>
							<!-- begin row -->
							<div class="row">
								<!-- begin col-8 -->
								<div class="col-xl-8 offset-xl-2">
									<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Convenio(s) de las Planta(s)</legend><hr /><br>
									<!-- begin form-group row -->
                  <br>
                <div class="table-responsive">
                  <table id="data-table-fixed-header" class="table table-striped table-bordered table-td-valign-middle">
                    <thead>
                      <tr>
                        <th>Nombres</th>
                        <th>Valor</th>
                        <th>Total Insumo</th>
                        <th>Validez</th>
                        <th>Plantas</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    {% block rows5 %}

                    {% endblock %}
                  </table>
                </div>

                    {% block javascript5 %}
                      <!-- Modal -->
                      <div class="modal fade bd-example-modal-lg" id="myModalConvenioPlanta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <form method="post" action="." enctype="multipart/form-data">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Convenio Planta <small>Nuevo</small></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <fieldset>
                                  <div class="row">
                                    {% csrf_token %}
                                    <input name="planta_id" id="planta_id" type="hidden" value="">
                                    <div class="row col-md-12">
                                      {% crispy form5 %}
                                    </div>
                                      <input name="action" type="hidden" value="convenio_add">
                                      <input name="id" id="id" type="hidden" value="">
                                      <input name="cliente_id" id="cliente_id" type="hidden" value="{{ cliente_id }}">
                                  </div>
                                </fieldset>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" id="botonconvjs" class="btn btn-info btn-flat btnAdd4"> Guardar</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <!-- MODAL DETALLE CONVENIO -->
                        <div class="modal fade bd-example-modal-lg" id="myModalConvenioDetall" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                          <form method="post" action="." enctype="multipart/form-data">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Insumos del Convenio <small>Detalle</small></h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="container-fluid">
                                    <div class="table-responsive">
                                    <table id="data-table-fixed-cabo" class="table table-striped table-bordered table-td-valign-middle">
                                      <thead>
                                        <tr>
                                          <th>Código Externo</th>
                                          <th>Nombre</th>
                                          <th>Costo</th>
                                        </tr>
                                      </thead>
                                    </table>
                                    </div>
                                    <input name="planta_id" id="planta_id" type="hidden" value="">
                                    <input name="cliente_id" id="cliente_id"  type="hidden" value="{{ cliente_id }}">
                                    <input name="convenio_id" id="convenio_id"  type="hidden" value="{{ convenio_id }}">
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button  type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                    {% endblock %}
                </div>
								<!-- end col-8 -->
							</div>
							<!-- end row -->
						</fieldset>
						<!-- end fieldset -->
					</div>
					<!-- end step-5 -->
			  </div>
		  </div>
    </div>
  </div>


  <script src="{% static 'admin/assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'admin/assets/js/script.js' %}"></script>
  <script>
    $("#id_region").change(function () {
      var url = $("#CrearClienteForm").attr("data-provincias-url");  // get the url of the `load_provincias` view
      var regionId = $(this).val();  // get the selected region ID from the HTML input
  
      $.ajax({                       // initialize an AJAX request
        url: "{% url 'clientes:ajax_load_provincias' %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-provincias/)
        data: {
          'region': regionId       // add the region id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_provincias` view function
          $("#id_provincia").html(data);  // replace the contents of the provincia input with the data that came from the server
        }
      });
  
    });
    // this one is for fetching ciudad data
    $("#id_provincia").change(function () { //django-model-form created this id
      var url = $("#CrearClienteForm").attr("data-provincias-url");  // get the url of the `load_provincias` view
      var provinciaId = $(this).val();  // get the selected region ID from the HTML input
  
      $.ajax({                       // initialize an AJAX request
        url: "{% url 'clientes:ajax_load_ciudades' %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-provincias/) person_form.html template has this url var
        data: {
          'provincia': provinciaId       // add the region id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_provincias` view function
          $("#id_ciudad").html(data);  // replace the contents of the provincia input with the data that came from the server
        }
      });
  
    });
    </script>
  <script>
    function fixedEncodeURI (str) {
      return encodeURI(str).replace(/%5B/g, '[').replace(/%5D/g, ']'); }
  </script>
</div>
<!-- end panel -->
{% endblock %}
{% block librerias %}
    <script src="{% static 'admin/assets/plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/bootstrap-select/js/i18n/defaults-es_CL.min.js' %}"></script>
    <script>
    
      function validar(obj){
        if(obj.checked==true){
          document.getElementById("id_hal2").disabled = false;
        }else{
          document.getElementById("id_hal2").disabled = true;
          document.getElementById("id_hal2").checked  = false;
        }
      }
    </script>
    <!-- jquery validation -->
    <!-- <script src="{% static 'admin/assets/js/script.js' %}"></script> -->
    <script src="{% static 'admin/assets/plugins/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/jquery-validation/dist/localization/messages_es_PE.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/crud/negocio_list.js' %}"></script>
    <script src="{% static 'admin/assets/js/crud/planta_list.js' %}"></script>
    <script src="{% static 'admin/assets/js/crud/contacto_planta_list.js' %}"></script>
    <script src="{% static 'admin/assets/js/crud/convenio_planta_list.js' %}"></script>

{% endblock %}

{% block scripts %}
  var enviando = false;
  //Submit form
  $('#btn-guardar').on('click', function(e){
      $(this).prop('disabled', true);
      $(this).addClass('disabled');

      e.preventDefault();

      var $form = $('#CrearClienteForm');
      var validator = $form.validate({
          ignore: "",
          errorClass: "is-invalid",
          validClass: "is-valid",
          errorElement: 'div',
          errorPlacement: function ( error, element ) {
            error.addClass("invalid-feedback");

            if(element.prop("type") === "checkbox") {
              error.insertAfter(element.parent("label"));
            }else{
              error.insertAfter(element);
            }

            // Add the span element, if doesn't exists, and apply the icon classes to it.
            if (!element.next("div")[0]) {
              $( "<div class='glyphicon glyphicon-remove form-control-feedback'></div>" ).insertAfter( element );
            }
          },
          wrapper: "",
          rules: {
                  nombre: "required",
                  nombre_gerente: "required",
                  rut: {
                    required: true,
                    minlength: 8
                  },
                  email: {
                    required: true,
                    email: true
                  },
                  telefono: {
                    required: true,
                    digits: true,
                    minlength: 4
                  },
                  negocio: "required",
                  gratificacion: "required",
                },
                messages: {
                  nombre: "Ingresa las razon social.",
                  nombre_gerente: "Ingresa el nombre del gerente.",
                  rut: {
                    required: "Ingresa el RUT del cliente.",
                    minlength: "Ingresa un RUT valido."
                  },
                  telefono: {
                    required: "Ingresa el teléfono de contacto.",
                    digits: "Ingrese un número de teléfono valido.",
                    minlength: "Ingrese un número de teléfono valido."
                  },
                  negocio: "Selecciona un negocio para el cliente.",
                  gratificacion: "Selecciona un gratificacion para el cliente.",
                  email: {
                    required: "Ingresa el email del cliente.",
                    email: "Ingresa un email valido. por ejemplo: name@domain.com"
                  }
          },
          showErrors: function(errorMap, errorList) {
              console.log('show messages', errorList.length);
              if(errorList.length){
                  $('#msgbox').show('slow');
                  $("#num-errors").html("Tienes "+ this.numberOfInvalids() + " errores.");

                  this.defaultShowErrors();
                  console.log('Errores', errorMap, errorList);
              }
        }
      });

      if(validator.form()){
          if(!enviando){
              enviando = true;
              $(this).html('<i class="fa fa-spinner fa-pulse margin-r-5"></i> Guardando...');
              $form.submit();
          }else{
              console.log("El formulario ya se esta enviando...");
          }
      }else{
          console.log('Error en el formulario.');
          $(this).removeClass('disabled');
          $(this).prop('disabled', false);
      }

  })

  {% if messages %}
        console.log('mensajes');
        {% for mensaje in messages %}
            console.log("{{ mensaje.tags}}"+" "+"{{ mensaje }}");
            {% if mensaje.tags == 'success' %}
              iziToast.success({
                  message: '{{ mensaje }}',
                  position: 'topRight',
              });
            {% elif mensaje.tags == 'error' %}
              iziToast.error({
                  message: '{{ mensaje }}',
                  position: 'topRight',
              });
            {% endif %}
        {% endfor %}

    {% endif %}
{% endblock %}
