{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}Contratos{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'admin/assets/plugins/bootstrap-select/css/bootstrap-select.min.css' %}">
{% endblock %}

{% block content %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
  <li class="breadcrumb-item"><a href="{% url 'contratos:list-plantilla' %}">Contratos</a></li>
  <li class="breadcrumb-item active">{% if plantilla %}{{ plantilla.id }}{% else %}Nueva{% endif %}</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Contrato <small>{% if plantilla %}Editar{% else %}Nuevo{% endif %}</small></h1>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    </div>
    <h4 class="panel-title">
      {% if plantilla %}{{ plantilla.nombre|upper }}{% else %}Contrato Nuevo{% endif %}</h4>
  </div>
  <div class="panel-body">

    {% if form.non_field_errors%}
      <div class="alert alert-danger fade show">
        <span class="close" data-dismiss="alert">×</span>
        <h5><i class="fa fa-exclamation-triangle"></i> Revisa el fomulario!</h5>
        {% for err in form.non_field_errors %}{{ err }}<br>{% endfor %}
      </div>
    {% else %}
      <div class="alert alert-danger fade show" id="msgbox" style="display: none;">
        <span class="close" data-dismiss="alert">×</span>
        <span>
          <strong><i class="icon fa fa-exclamation-triangle text-danger pr-1"></i>
            <span id="num-errors"></span></strong>
          Revisa el formulario, sigue las instrucciones y completa los datos.</span>
      </div>
    {% endif %}
    <div class="card-body">
			<!-- begin step-1 -->
			<div id="step-1">
        <!-- begin col-10 -->
        <div class="col-xl-10 offset-xl-1">
          <form method="post" autocomplete="off" novalidate id="CrearContratoForm" data-plantas-url="{% url 'users:ajax_load_plantas' %}">
			<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Datos del Trabajador</legend><hr /><br>
              {% csrf_token  %}
              <div class="row">
                    <input name="area_cargo_id" id="area_cargo_id" type="hidden" value="">
                {% for ru in datos %}
                    <!-- {{ datos }} -->
                    <div class="row col-md-12">
                      <div class="form-group col-md-4">
                        <label for="email">Nombres &nbsp</label>{{ ru.trabajador__first_name }} {{ ru.trabajador__last_name }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Rut &nbsp </label>{{ ru.trabajador__rut }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Estado Civil &nbsp </label>{{ ru.trabajador__estado_civil__nombre }}
                      </div>
                    </div>
                    <div class="row col-md-12">
                      <div class="form-group col-md-4">
                        <label for="email">Fecha Nacimiento &nbsp </label>{{ ru.trabajador__fecha_nacimiento }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Previsión &nbsp </label>{{ ru.trabajador__afp__nombre }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Salud &nbsp  </label>{{ ru.trabajador__salud__nombre }}
                      </div>
                    </div>
                    <div class="row col-md-12">
                      <div class="form-group col-md-4">
                        <label for="email">Nivel Educacional &nbsp </label>{{ ru.trabajador__nivel_estudio__nombre }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Teléfono &nbsp </label>{{ ru.trabajador__telefono }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Nacionalidad &nbsp </label>{{ ru.trabajador__nacionalidad__nombre }}
                      </div>
                    </div>
                    <div class="row col-md-12">
                      <div class="form-group col-md-8">
                        <label for="email">Domicilio &nbsp </label>{{ ru.trabajador__domicilio }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Ciudad &nbsp </label>{{ ru.trabajador__ciudad__nombre }}
                      </div>
                    </div>
                    <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse"><br>Datos del Requerimiento<hr /></legend>
                    <div class="row col-md-12">
                      <div class="form-group col-md-8">
                        <label for="email">Nombre &nbsp</label>{{ ru.requerimiento__nombre }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Centro de Costo &nbsp</label>{{ ru.requerimiento__centro_costo }}
                      </div>
                    </div>
                    <div class="row col-md-12">
                      <div class="form-group col-md-4">
                        <label for="email">Referido &nbsp</label>{% if ru.referido == True %} Si {% else %} No {% endif %}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Área &nbsp</label>{{ ru.area_cargo__area__nombre }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Cargo &nbsp</label>{{ ru.area_cargo__cargo__nombre }}
                      </div>
                    </div>
                    <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse"><br>Datos de la Empresa<hr /></legend>
                    <div class="row col-md-12">
                      <div class="form-group col-md-4">
                        <label for="email">Razón Social &nbsp</label>{{ ru.requerimiento__cliente__razon_social }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Rut &nbsp</label> {{ ru.requerimiento__cliente__rut }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Gratificación &nbsp</label>{{ ru.requerimiento__planta__gratificacion__nombre }}
                      </div>
                    </div>
                    <div class="row col-md-12">
                      <div class="form-group col-md-8">
                        <label for="email">Dirección &nbsp</label>{{ ru.requerimiento__planta__direccion }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Planta &nbsp</label>{{ ru.requerimiento__planta__nombre }}
                      </div>
                    </div>
                    <input name="action" type="hidden" value="requeri_trab_add">
                    <input name="id" id="id" type="hidden" value="0">
                    <input name="requerimiento_id" id="requerimiento_id" type="hidden" value="{{ requerimiento_id }}">
                
              </div>
              <div class="form-group row m-b-0">
                <div class="col-md-4 col-sm-4">
                {% if plantilla and perms.ficheros.delete_fichero %}
                    <button type="button" id="btn-delete" class="btn btn-danger">Eliminar</button>
                {% endif %}
                </div>
                <!-- <div class="col-md-8 col-sm-8 text-right">
                    <a href="{% url 'contratos:list-plantilla' %}?page={{ request.GET.page }}" class="btn btn-default">Cancelar</a>
                    <button type="submit" class="btn btn-success" id="btn-guardar">Guardar</button>
                </div> -->
              </div>
                <div class="float-right">
                  {% for con in contratos %}
                  {% if con.contrato__tipo_contrato__nombre == Null %}
                <button type="button" class="btn btn-success "data-toggle="modal" data-target="#modalcontrato">Contrato</button>
                {% else %}
                <button type="button" class="btn btn-success "data-toggle="modal" data-target="#modalanexo">Anexos</button>
                {% endif %}
                {% endfor %}
              </div>
          </form>
          <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse"><br><hr /></legend>
          <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                  <th>Tipo Archivo</th>
                  <th>Tipo Contrato</th>
                  <th>Causal</th>
                  <th>Motivo</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Término</th>
                  <th>Jornada</th>
                  <th>Renta Imponible</th>
                  <th>Acciones</th>
              </tr>
              <tbody>
                {% for con in contratos %}
                <tr>
                  {% if con.contrato__tipo_contrato__nombre != Null %}
                  <td>{{ con.contrato__tipo_contrato__nombre }}</td>
                  <td>Contrato</td>
                  <td>{{ con.contrato__causal__nombre }}</td>
                  <td>{{ con.contrato__motivo }}</td>
                  <td>{{ con.contrato__fecha_inicio }}</td>
                  <td>{{ con.contrato__fecha_termino }}</td>
                  <td>{{ con.contrato__horario__nombre }}</td>
                  <td>{{ con.contrato__sueldo_base }}</td>
                  <td><button type="button" class="fa fa-paper-plane" data-toggle="modal" data-target="#exampleModal">
                  </button></td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </thead>

        </table>
      </div>
        </div>
        <!-- end col-10 -->
      </div>
      <!-- end step-1 -->
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalcontrato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar/Editar Documento Contractual</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'contratos:create' %}"  enctype="multipart/form-data">
        <h5>Información del contrato</h5>
        {% csrf_token %}
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <label for="email">Tipo Contrato</label>
            {{ form2.tipo_contrato }}
          </div>
          <div class="form-group col-md-6">
            <label for="email">Regimen</label>
            {{ form2.regimen }}
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <label for="email">Causal</label>
            {{ form2.causal }}
          </div>
          <div class="form-group col-md-6">
            <label for="email">Motivo</label>
            {{ form2.motivo }}
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <label for="email">Fecha Inicia</label>
            {{ form2.fecha_inicio }}
          </div>
          <div class="form-group col-md-6">
            <label for="email">Fecha Término</label>
            {{ form2.fecha_termino }}
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <label for="email">Horario</label>
            {{ form2.horario }}
          </div>
          <div class="form-group col-md-6">
            <label for="email">Sueldo Base</label>
            {{ form2.sueldo }}
          </div>
        </div>

        
        <h5>Bonos </h5>
        <div class="row col-md-12">

          {% for bo in bonos %}
          
          <div class="form-group col-md-6">
            
            <label for="email">{{ bo.requerimiento__planta__bono__nombre }}</label>
            <input type="text" name="{{forloop.counter}}" class="form-control" value="0" >
            <input type="hidden" name="{{forloop.counter}}" class="form-control" value="{{bo.requerimiento__planta__bono}}">
          </div>
          {% endfor %}
        </div>
        <input type="hidden" name="largobonos" class="form-control" value="{{largobonos}}">
        <input type="hidden" name="gratificacion" class="form-control" value="{{ ru.requerimiento__planta__gratificacion }}">
        <input type="hidden" name="planta" class="form-control" value="{{ ru.requerimiento__planta }}">
        <input type="hidden" name="requerimiento_trabajador_id" class="form-control" value="{{ requerimiento_trabajador_id }}">
        <input type="hidden" name="trabajador_id" class="form-control" value="{{ ru.trabajador }}">
        
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
    </form>
    </div>
  </div>
</div>
</div>


<div class="modal fade bd-example-modal-lg" id="modalanexo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Creando Anexo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for con in contratos %}
        
        <div style="background-color: #ebebeb;" >
          <h4 class="text-center"><u>Datos del contrato</u></h4>
          <br>
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <label for="email">Nombres &nbsp</label>{{ con.trabajador__first_name }} {{ con.trabajador__last_name }}
          </div>
          <div class="form-group col-md-6">
            <label for="email">Domicilio &nbsp </label>{{ con.trabajador__domicilio }}
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <label for="email">Fecha Inicio &nbsp</label>{{ con.contrato__fecha_inicio }} 
          </div>
          <div class="form-group col-md-6">
            <label for="email">Fecha Término &nbsp </label>{{ con.contrato__fecha_termino_ultimo_anexo }}
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-12">
            <label for="email">Motivo &nbsp</label>{{ con.contrato__motivo }} 
          </div>
        </div>
      </div>
        
       
        <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse"><br><hr /></legend>
        <div class="row col-md-12">
          <div class="form-group col-md-4">
          </div>
          <div class="form-group col-md-4">
            <label for="email">Fecha Término Anexo </label>
            <input type="text" name="nueva_fecha" id="fechaInicioAnexo" class="form-control" value=""> 
          </div>
          <div class="form-group col-md-4">
            <input type="text" name="UltimoAnexo" id="fechaInicioContrato" class="form-control" value="{{ ultimoanexo }}">
            <input type="text" name="UltimoAnexo" id="UltimoAnexo" class="form-control" value="{{ ultimoanexo }}">
            <input type="text" name="id_causalanexo" id="id_causalanexo" class="form-control" value="{{ con.contrato__causal }}">  
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Agregar</button>
      </div>
    </div>
  </div>
</div>
<!-- end panel -->
{% endfor %}
{% endfor %}

{% endblock %}
{% block librerias %}
    <script src="{% static 'admin/assets/plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/bootstrap-select/js/i18n/defaults-es_CL.min.js' %}"></script>
    <!-- jquery validation -->
    <script src="{% static 'admin/assets/plugins/jquery-validation/dist/jquery.validate.min.js' %}"></script>
  <script src="{% static 'admin/assets/plugins/jquery-validation/dist/additional-methods.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/jquery-validation/dist/localization/messages_es_PE.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/validacionFechaCausal.js' %}"></script>
    <script src="{% static 'admin/assets/js/validacionFechaCausalanexo.js' %}"></script>
{% endblock %}
{% block scripts %}
  var enviando = false;
  //Submit form
  $('#btn-guardar').on('click', function(e){
      $(this).prop('disabled', true);
      $(this).addClass('disabled');

      e.preventDefault();

      var $form = $('#CrearContratoForm');
      var validator = $form.validate({
          ignore: "",
          errorClass: "is-invalid",
          validClass: "is-valid",
          errorElement: 'div',
          errorPlacement: function ( error, element ) {
            error.addClass("invalid-feedback");

            if(element.prop("type") === "checkbox") {
              error.insertAfter(element.parent("label"));
            }else{
              error.insertAfter(element);
            }

            // Add the span element, if doesn't exists, and apply the icon classes to it.
            if (!element.next("div")[0]) {
              $( "<div class='glyphicon glyphicon-remove form-control-feedback'></div>" ).insertAfter( element );
            }
          },
          wrapper: "",
          rules: {
                  tipo_contrato: "required",
                  sueldo_base: "required",
                  horario: "required",
                  planta: "required",
                },
                messages: {
                  tipo_contrato: "Selecciona un Tipo de Contrato.",
                  sueldo_base: "Ingresa el sueldo base del Contrato.",
                  horario: "Selecciona un Horario.",
                  planta: "Selecciona una planta."
          },
          showErrors: function(errorMap, errorList) {
              console.log('show messages', errorList.length);
              if(errorList.length){
                  $('#msgbox').show('slow');
                  $("#num-errors").html("Tienes "+ this.numberOfInvalids() + " errores.");

                  this.defaultShowErrors();
                  console.log('Errores', errorMap, errorList);
              }
        }
      });

      if(validator.form()){
          if(!enviando){
              enviando = true;
              $(this).html('<i class="fa fa-spinner fa-pulse margin-r-5"></i> Guardando...');
              $form.submit();
          }else{
              console.log("El formulario ya se esta enviando...");
          }
      }else{
          console.log('Error en el formulario.');
          $(this).removeClass('disabled');
          $(this).prop('disabled', false);
      }

  })

{% if plantilla and perms.plantilla.delete_plantilla %}
  var deleteURL = "{% url 'contratos:delete-plantilla' plantilla.id %}";

  $('#btn-delete').on('click', function(e){
      e.preventDefault();

      console.log('click delete object');
      console.log(deleteURL);

      $.ajax({
        url: deleteURL,
        type: 'get',
        dataType: 'json',
        beforeSend: function () {
          $("#modal-plantilla").modal("show");
        },
        success: function (data) {
            $("#modal-plantilla .modal-content").html(data.html_form);
        }
      });
  });
{% endif %}

{% if messages %}
      console.log('mensajes');
      {% for mensaje in messages %}
          console.log("{{ mensaje.tags}}"+" "+"{{ mensaje }}");
          {% if mensaje.tags == 'success' %}
            iziToast.success({
                message: '{{ mensaje }}',
                position: 'topRight',
            });
          {% elif mensaje.tags == 'error' %}
            iziToast.error({
                message: '{{ mensaje }}',
                position: 'topRight',
            });
          {% endif %}
      {% endfor %}

  {% endif %}
{% endblock %}

