{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load contratos_tags %}
{% block page_title %}Contratos{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'admin/assets/plugins/bootstrap-select/css/bootstrap-select.min.css' %}">
{% endblock %}

{% block content %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
  <li class="breadcrumb-item"><a href="{% url 'contratos:list' %}">Contratos</a></li>
  <li class="breadcrumb-item active">{% if contrato %}{{ contrato.id }}{% else %}Nueva{% endif %}</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Contrato <small>{% if contrato %}Editar{% else %}Nuevo{% endif %}</small></h1>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    </div>
    <h4 class="panel-title">
      {% if contrato %}{{ contrato.trabajador__first_name|upper }}{% else %}Contrato Nuevo{% endif %}</h4>
  </div>
  <div class="panel-body">

    {% if form.non_field_errors%}
      <div class="alert alert-danger fade show">
        <span class="close" data-dismiss="alert">×</span>
        <h5><i class="fa fa-exclamation-triangle"></i> Revisa el fomulario!</h5>
        {% for err in form.non_field_errors %}{{ err }}<br>{% endfor %}
      </div>
    {% else %}
      <div class="alert alert-danger fade show" id="msgbox" style="display: none;">
        <span class="close" data-dismiss="alert">×</span>
        <span>
          <strong><i class="icon fa fa-exclamation-triangle text-danger pr-1"></i>
            <span id="num-errors"></span></strong>
          Revisa el formulario, sigue las instrucciones y completa los datos.</span>
      </div>
    {% endif %}
    <div class="card-body">
			<!-- begin step-1 -->
			<div id="step-1">
        <!-- begin col-10 -->
        <div class="col-xl-10 offset-xl-1">
          <form method="post" autocomplete="off" novalidate id="CrearContratoForm" data-plantas-url="{% url 'users:ajax_load_plantas' %}">
			<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Datos del Trabajador</legend><hr /><br>
              {% csrf_token  %}
              <div class="row">
                    <input name="area_cargo_id" id="area_cargo_id" type="hidden" value="">
                {% for ru in datos %}
                    <!-- {{ datos }} -->
                    <div class="row col-md-12">
                      <div class="form-group col-md-4">
                        <label for="email">Nombres &nbsp</label>{{ ru.trabajador__first_name|title }} {{ ru.trabajador__last_name|title }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Rut &nbsp </label>{{ ru.trabajador__rut }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Estado Civil &nbsp </label>{{ ru.trabajador__estado_civil__nombre|title }}
                      </div>
                    </div>
                    <div class="row col-md-12">
                      <div class="form-group col-md-4">
                        <label for="email">Fecha Nacimiento &nbsp </label>{{ ru.trabajador__fecha_nacimiento }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Previsión &nbsp </label>{{ ru.trabajador__afp__nombre|title }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Salud &nbsp  </label>{{ ru.trabajador__salud__nombre|title }}
                      </div>
                    </div>
                    <div class="row col-md-12">
                      <div class="form-group col-md-4">
                        <label for="email">Nivel Educacional &nbsp </label>{{ ru.trabajador__nivel_estudio__nombre|title }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Teléfono &nbsp </label>{{ ru.trabajador__telefono }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Nacionalidad &nbsp </label>{{ ru.trabajador__nacionalidad__nombre|title }}
                      </div>
                    </div>
                    <div class="row col-md-12">
                      <div class="form-group col-md-8">
                        <label for="email">Domicilio &nbsp </label>{{ ru.trabajador__domicilio }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Ciudad &nbsp </label>{{ ru.trabajador__ciudad__nombre|title }}
                      </div>
                    </div>
                    <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse"><br>Datos del Requerimiento<hr /></legend>
                    <div class="row col-md-12">
                      <div class="form-group col-md-8">
                        <label for="email">Nombre &nbsp</label>{{ ru.requerimiento__nombre|title }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Centro de Costo &nbsp</label>{{ ru.requerimiento__centro_costo }}
                      </div>
                    </div>
                    <div class="row col-md-12">
                      <div class="form-group col-md-4">
                        <label for="email">Referido &nbsp</label>{% if ru.referido == True %} Si {% else %} No {% endif %}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Área &nbsp</label>{{ ru.area_cargo__area__nombre|title }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Cargo &nbsp</label>{{ ru.area_cargo__cargo__nombre|title }}
                      </div>
                    </div>
                    <div class="row col-md-12">
                      <div class="form-group col-md-4">
                        <label for="email">F. Inicio &nbsp</label>{{ ru.requerimiento__fecha_inicio }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">F. Término &nbsp</label>{{ ru.requerimiento__fecha_termino }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">F. Adendum &nbsp</label>{{ ru.requerimiento__fecha_adendum }}
                      </div>
                    </div>
                    <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse"><br>Datos de la Empresa<hr /></legend>
                    <div class="row col-md-12">
                      <div class="form-group col-md-4">
                        <label for="email">Razón Social &nbsp</label>{{ ru.requerimiento__cliente__razon_social|title }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Rut &nbsp</label> {{ ru.requerimiento__cliente__rut }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Gratificación &nbsp</label>{{ ru.requerimiento__planta__gratificacion__nombre|title }}
                      </div>
                    </div>
                    <div class="row col-md-12">
                      <div class="form-group col-md-8">
                        <label for="email">Dirección &nbsp</label>{{ ru.requerimiento__planta__direccion }}
                      </div>
                      <div class="form-group col-md-4">
                        <label for="email">Planta &nbsp</label>{{ ru.requerimiento__planta__nombre|title }}
                      </div>
                    </div>
                    <input name="action" type="hidden" value="requeri_trab_add">
                    <input name="id" id="id" type="hidden" value="0">
                    <input name="requerimiento_id" id="requerimiento_id" type="hidden" value="{{ requerimiento_id }}">
                    <input name="contadorcontratos" id="contadorcontratos" type="hidden" value="{{ contador }}">
                
              </div>
              <div class="form-group row m-b-0">
                <div class="col-md-4 col-sm-4">
                <!-- {% if plantilla and perms.ficheros.delete_fichero %} 
                    <button type="button" id="btn-delete" class="btn btn-danger">Eliminar</button>
                {% endif %} -->
                </div>
              </div>
                <div class="float-right">
                {% for con in contratos %}
                  {% if con.estado_contrato == 'AP' and ultimo_anexo_contrato == 'AP' and con.valores_diario__valor_diario is None and fin_contrato == 'NO' %}
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalanexo">Anexos</button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalCT">Carta Término</button>
                  {% elif con.estado_contrato == 'AP' and anexo == None and con.valores_diario__valor_diario is None and fin_contrato == 'NO' %}
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalanexo">Anexos</button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalCT">Carta Término</button>
                  {% endif %}
                  {% empty %}
                    <button type="button" class="btn btn-success "data-toggle="modal" data-target="#modalcontrato">Contrato</button>
                {% endfor %}
                  {% if ultimo == 8 and ultimo_contrato.estado_contrato == 'AP' %} 
                  <button type="button" class="btn btn-success "data-toggle="modal" id="contratosdiarios" data-target="#myModalCDiario">Contrato</button>
                  {% endif %}
              </div>
          </form>
          <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse"><br><hr /></legend>

          <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                  <th>Tipo Archivo</th>
                  <th>Estado</th>
                  <th>Causal</th>
                  <th>Motivo</th>
                  <th>Plazos</th>
                  <th>Jornada</th>
                  <th style="width:10%">Renta Imponible</th>
                  <th style="width:20%">Acciones</th>
              </tr>
              <tbody>
                {% for con in contratos %}
                <tr>
                  {% if con.tipo_documento__nombre != Null %}
                  <td>{{ con.tipo_documento__nombre|title }}</td>
                  <td>{{ con.estado_contrato|estado_contrato|safe }}</td>
                  <td>{{ con.causal__nombre|title }}</td>
                  <td >{{ con.motivo|truncatewords:20 }}</td>
                  <td>Inicio: {{ con.fecha_inicio|date:'d-m-Y' }} <br>Término: {{ con.fecha_termino|date:'d-m-Y' }} </td>
                  <td >{{ con.horario__nombre|title }}</td>
                  <td>$ {% if con.valores_diario__valor_diario is None %} {{ con.sueldo_base }} {% else%} {{con.valores_diario__valor_diario}} {% endif %}</td>
                  <td >
                    {% if con.estado_contrato == 'CR' or con.estado_contrato == 'RC'   %}
                    <button data-id="{{ con.id }}" type="button"  class="btn btn-warning btn-xs btn-flat btn-view-editar-contrato" title="Editar Contrato">
                      <i class="fas fa-edit"></i>
                    </button> &nbsp
                    {% if perms.contratos.delete %}
                    <button data-id="{{ con.id }}" type="button" id="btn-eliminar2" class="btn btn-danger btn-xs btn-flat btn-eliminar2" title="Eliminar Contrato">
                      <i class="fas fa-window-close"></i>
                    </button> &nbsp
                    {% endif %}
                    <a  type="button" id="revision" class="btn-xs btn btn-white" href="/contratos/{{con.id}}/enviar_revision_contrato/" title="Enviar a revisión">
                      <i class="fa fa-paper-plane"></i>
                    </a>
                    {% elif con.estado_contrato == 'AP' and anex == 'NO' and fin_contrato == 'NO' and ultimo != 8 %}
                    <button data-id="{{ con.id }}"  type="button" class="btn-xs btn btn-danger btn-view-enviar-baja" title="Dar de Baja">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                    {% elif ultimo == 8 and con.estado_contrato == 'AP' and ultimo_contrato_diario_aprob == con.id %}
                    <button data-id="{{ con.id }}"  type="button" class="btn-xs btn btn-danger btn-view-enviar-baja" title="Dar de Baja">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                    {% endif %}
                    <!-- Solo los Contratos Diarios tiene Finiquito -->
                    <!-- {% if finiquito == 'SI' %}
                    <button data-id="{{ con.id}}"  type="button" class="btn-xs btn btn-green btn-view-finiquito" title="Finiquito">
                      <i class="fas fa-file-invoice-dollar"></i>
                    </button>
                    {% endif %} -->
                </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% for ane in anexos %}
                <tr>
                  {% if ane.causal__nombre  != Null %}
                  <td>Anexo</td>
                  <td>{{ ane.estado_anexo|estado_anexo|safe }}</td>
                  <td>{{ ane.causal__nombre|title }}</td>
                  <td>{{ ane.motivo|truncatewords:20 }}</td>
                  <td>Inicio: {{ ane.fecha_inicio|date:'d-m-Y' }} <br>Término: {{ ane.fecha_termino|date:'d-m-Y' }} </td>
                  <td>{{ ane.horario__nombre|title }}</td>
                  <td >{% if ane.nueva_renta != None %}$ {{ ane.nueva_renta }} {% else %}       {% endif %}</td>
                  <td>
                    {% if ane.estado_anexo == 'CR' or ane.estado_anexo == 'RC'  %}
                    <button data-id="{{ ane.id}}" type="button"  class="btn btn-warning btn-xs btn-flat btn-view-editar-anexo" title="Editar Anexo">
                      <i class="fas fa-edit"></i>
                    </button> &nbsp
                    {% if perms.anexos.delete_anexo %}
                    <button data-id="{{ ane.id}}" type="button" id="btn-delete-anexo" class="btn btn-danger btn-xs btn-flat" title="Eliminar Anexo">
                      <i class="fas fa-window-close"></i>
                    </button> &nbsp
                    {% endif %}
                    <a  type="button" id="boton" class="btn-xs btn btn-white" href="/contratos/{{ane.id}}/enviar_revision_anexo/" title="Enviar a revisión">
                      <i class="fa fa-paper-plane"></i>
                    </a>
                    {% elif ane.estado_anexo == 'AP' and ane.id == id_ultimo_anexo and fin_contrato == 'NO' %}
                    <button data-id="{{ ane.id }}"  type="button" class="btn-xs btn btn-danger btn-view-enviar-baja-anexo" title="Dar de Baja">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                    {% endif %}
                </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </thead>
        </table>
      </div>
      </div>
        </div>
        <!-- end col-10 -->
      </div>
      <!-- end step-1 -->
    </div>
  </div>
</div>
</div>

<!-- Creando Contrato -->
<div class="modal fade bd-example-modal-lg" id="modalcontrato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar Documento Contractual</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="CContratoForm" action="{% url 'contratos:create' %}"  enctype="multipart/form-data">
        <h5>Información del Contrato</h5>
        {% csrf_token %}
        <div class="row col-md-12">
          <div class="form-group col-md-3">
            <input type="radio" onclick="javascript:mensualdiario();" id="mensual" value="mensual" checked name="tipo" >
            <label for="mensual">Mensual</label>
          </div>
          <div class="form-group col-md-3">
            <input type="radio" onclick="javascript:mensualdiario();" id="diario" value="diario" name="tipo" >
            <label for="diario">Diario</label>
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-6" id="tipocontrato" style="display:show" >
            <label for="email">Tipo Contrato</label>
            {{ form2.tipo_documento }}
          </div>
          <div class="form-group col-md-6">
            <label for="email">Régimen</label>
            {{ form2.regimen }}
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-12">
            <label for="email">Motivo</label>
            <input type="text" name="motivo" class="form-control" value="{{ru.requerimiento__descripcion}}">
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <label for="email">Fecha Inicio</label>
            {{ form2.fecha_inicio }}
          </div>
          <div class="form-group col-md-6" id="fechatermino" style="display:show">
            <label for="email">Fecha Término</label>
            {{ form2.fecha_termino }}
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <label for="email">Horario</label>
            {{ form2.horario }}
          </div>
          <div class="form-group col-md-6" id="sueldo" style="display:show">
            <label for="email">Sueldo Base</label>
            {{ form2.sueldo_base }}
          </div>
          <div class="form-group col-md-6" id="valores_diario" style="display:none">
            <label for="email">Valores Diario</label>
            {{ form2.valores_diario }}
          </div>
        </div>   
        <h5>Bonos </h5>
        <div class="row col-md-12">
          {% for bo in bonos %}
          <div class="form-group col-md-6">
            <label for="email">{{ bo.requerimiento__planta__bono__nombre|title }}</label>
            <input type="text" name="{{forloop.counter}}" class="form-control" value="0" >
            <input type="hidden" name="{{forloop.counter}}" class="form-control" value="{{bo.requerimiento__planta__bono}}">
          </div>
          {% endfor %}
        </div>
        <input type="hidden" name="id_causal" id="id_causal" class="form-control" value="{{ ru.requerimiento__causal }}">
        <input type="hidden" name="causal" class="form-control" value="{{ru.requerimiento__causal}}">
        <input type="hidden" id="f_termino" class="form-control" value="{{ru.requerimiento__fecha_adendum|date:'Y-m-d'}}">
        <input type="hidden" id="f_inicio" class="form-control" value="{{ru.requerimiento__fecha_inicio|date:'Y-m-d'}}">
        <input type="hidden" name="largobonos" class="form-control" value="{{largobonos}}">
        <input type="hidden" name="gratificacion" class="form-control" value="{{ ru.requerimiento__planta__gratificacion }}">
        <input type="hidden" name="planta" class="form-control" value="{{ ru.requerimiento__planta }}">
        <input type="hidden" name="requerimiento_trabajador_id" class="form-control" value="{{ requerimiento_trabajador_id }}">
        <input type="hidden" name="trabajador_id" class="form-control" value="{{ ru.trabajador }}">
    

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          {% if exa_maso == 'SI' and exa_bate == 'SI' and exa_psico == 'SI'  %}
          <button type="submit" id="boton" onclick="javascript:ver_documento();" class="btn btn-primary">Guardar</button>
          {% endif %}
          {% if exa_maso == 'NO' %}
          <label class="alert alert-danger fade show" for="revision"> No tiene Masso Aprobada</label>
          {% endif %}
          {% if exa_bate == 'NO' %}
          <label class="alert alert-danger fade show" for="revision"> No tiene Batería Aprobada</label>
          {% endif %}
          {% if exa_psico == 'NO' %}
          <label class="alert alert-danger fade show" for="revision"> No tiene Psicológico Aprobada</label>
          {% endif %}

        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<!-- Creando Contrato Diario -->
<div class="modal fade bd-example-modal-lg" id="myModalCDiario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar Documento Contractual</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="CContratoForm" action="{% url 'contratos:create' %}"  enctype="multipart/form-data">
        <h5>Información del Contrato</h5>
        {% csrf_token %}
        <div class="row col-md-12">
          <div class="form-group col-md-3">
            <input type="radio" id="diario" value="diario" name="tipo" checked >
            <label for="diario">Diario</label>
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <label for="email">Régimen</label>
            {{ form2.regimen }}
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-12">
            <label for="email">Motivo</label>
            <input type="text" name="motivo" class="form-control" value="{{ru.requerimiento__descripcion}}">
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <label for="email">Fecha Inicio</label>
            <input type="text" name="fecha_inicio_diario" class="form-control" autocomplete="off" id="fecha_inicio_diario" readonly="true" required>
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <label for="email">Horario</label>
            {{ form2.horario }}
          </div>
          <div class="form-group col-md-6" id="valores_diario">
            <label for="email">Valores Diario</label>
            {{ form2.valores_diario }}
          </div>
        </div>   
        <h5>Bonos </h5>
        <div class="row col-md-12">
          {% for bo in bonos %}
          <div class="form-group col-md-6">
            <label for="email">{{ bo.requerimiento__planta__bono__nombre|title }}</label>
            <input type="text" name="{{forloop.counter}}" class="form-control" value="0" >
            <input type="hidden" name="{{forloop.counter}}" class="form-control" value="{{bo.requerimiento__planta__bono}}">
          </div>
          {% endfor %}
        </div>
        <input type="hidden" name="id_causal" id="id_causal" class="form-control" value="{{ ru.requerimiento__causal }}">
        <input type="hidden" name="causal" class="form-control" value="{{ru.requerimiento__causal}}">
        <input type="hidden" id="f_termino" class="form-control" value="{{ru.requerimiento__fecha_adendum|date:'Y-m-d'}}">
        <input type="hidden" id="f_inicio" class="form-control" value="{{fecha_restriccion|date:'Y-m-d'}}">
        <input type="hidden" name="largobonos" class="form-control" value="{{largobonos}}">
        <input type="hidden" name="gratificacion" class="form-control" value="{{ ru.requerimiento__planta__gratificacion }}">
        <input type="hidden" name="planta" class="form-control" value="{{ ru.requerimiento__planta }}">
        <input type="hidden" name="requerimiento_trabajador_id" class="form-control" value="{{ requerimiento_trabajador_id }}">
        <input type="hidden" name="trabajador_id" class="form-control" value="{{ ru.trabajador }}">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" id="boton" onclick="javascript:ver_documento();" class="btn btn-primary">Guardar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<!-- Creando Anexo -->
<div class="modal fade bd-example-modal-lg" id="modalanexo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Creando Anexo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'contratos:create-anexo' %}"  enctype="multipart/form-data">
      <div class="modal-body">
        {% for con in contratos %}
        {% csrf_token %}   
        <div style="background-color: #ebebeb;" >
          <h4 class="text-center"><u>Datos del Contrato</u></h4>
          <br>
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <label for="email">Nombres &nbsp</label>{{ con.trabajador__first_name|title }} {{ con.trabajador__last_name|title }}
          </div>
          <div class="form-group col-md-6">
            <label for="email">Domicilio &nbsp </label>{{ con.trabajador__domicilio }}
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <label for="email">Fecha Inicio &nbsp</label>{{ con.fecha_inicio }} 
          </div>
          <div class="form-group col-md-6">
            <label for="email">Fecha Término &nbsp </label>{{ con.fecha_termino_ultimo_anexo }}
          </div>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <label for="email">Motivo &nbsp</label>{{ con.motivo }} 
          </div>
          <div class="form-group col-md-6">
            <label for="email">Renta Imponible &nbsp</label>{{ con.sueldo_base }} 
          </div>
        </div>
      </div>
        <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse"><br><hr /></legend>
        <div class="row col-md-12">
          <div class="form-group col-md-2">
          </div>
          <div class="form-group col-md-4">
            <label for="email">Fecha Término Anexo </label>
            <input type="text" name="fechaTerminoAnexo" id="fechaInicioAnexo" class="form-control" autocomplete="off" required onkeypress="return false;" /> 
          </div>
          <div class="form-group col-md-3">
            <label>Modificar datos </label>
            <input type="checkbox" name="motivo" id="motivo" onclick="javascript:validar(this);">
          </div>
          <div class="form-group col-md-3">
            <label>Cambio Renta </label>
            <input type="checkbox" name="renta" id="renta" onclick="javascript:validar2(this);">
          </div>
        </div>
        <div class="row col-md-12" >
          <div class="form-group col-md-6" style="display: none" id="divmotivo">
            <label for="email">Modificar datos </label>
            <input type="text" name="NuevoMotivo" id="NuevoMotivo" class="form-control" > 
          </div>
          <div class="form-group col-md-6" style="display: none" id="divrenta">
            <label for="email">Nueva Renta </label>
            <input type="text" name="NuevaRenta" id="NuevaRenta" class="form-control" > 
          </div>
        </div>
        <input type="hidden" name="requerimiento_trabajador_id" class="form-control" value="{{ requerimiento_trabajador_id }}">
        <input type="hidden" name="planta" class="form-control" value="{{ ru.requerimiento__planta }}">
        <input type="hidden" name="fechaInicioContrato" id="fechaInicioContrato" class="form-control" value="{{ con.fecha_inicio|date:'Y-m-d' }}">
        <input type="hidden" name="UltimoAnexo" id="UltimoAnexo" class="form-control" value="{{ con.fecha_termino_ultimo_anexo|date:'Y-m-d' }}">
        <input type="hidden" name="id_causalanexo" id="id_causalanexo" class="form-control" value="{{ con.causal }}">
        <input type="hidden" name="id_contrato" id="id_contrato" class="form-control" value="{{ con.id }}">
        <input type="hidden" name="trabajador_id" class="form-control" value="{{ ru.trabajador }}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
      </form>
      {% endfor %}
    </div>
    
  </div>
</div>
<!-- Generando Carta de término -->
<div class="modal fade bd-example" id="myModalCT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {% for con in contratos %}
        <h5 class="modal-title" id="exampleModalLongTitle">Generar Carta de Término <small style="font-size: 80%;">{{ con.trabajador__first_name|title }} {{ con.trabajador__last_name|title }}</small></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'contratos:carta-termino' %}" id="CCTerminoForm" enctype="multipart/form-data">
        <div class="modal-body">
          {% csrf_token %}
            ¿Está seguro que desea realizar esta acción?
            <br>
          <input type="hidden" name="tipo" class="form-control" value="CT">
          <input type="hidden" name="requerimiento_trabajador_id" class="form-control" value="{{ requerimiento_trabajador_id }}">
          <input type="hidden" name="fecha_termino" id="fecha_termino" class="form-control" value="{{ con.fecha_termino_ultimo_anexo|date:'Y-m-d' }}">
          <input type="hidden" name="contrato_id" id="contrato_id" class="form-control" value="{{ con.id }}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" id="Carta_T" class="btn btn-primary">Enviar</button>
        </div>
      </form>
      {% endfor %}
    </div>
    
  </div>
</div>

<div class="modal fade  bd-example-modal-lg" id="modal-editar_contrato">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>
<!-- Eliminar Contrato -->
<div class="modal fade" id="modal-contrato">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade  bd-example-modal-lg" id="modal-editar_anexo">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>
<!-- Eliminar Anexo -->
<div class="modal fade" id="modal-anexo">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade  " id="modal-enviar_baja">
  <div class="modal-dialog ">
    <div class="modal-content"></div>
  </div>
</div>

<!-- end panel -->

{% endfor %}

{% endblock %}
{% block librerias %}
  <script src="{% static 'admin/assets/plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'admin/assets/plugins/bootstrap-select/js/i18n/defaults-es_CL.min.js' %}"></script>
  <script src="{% static 'admin/assets/plugins/jquery-validation/dist/jquery.validate.min.js' %}"></script>
  <script src="{% static 'admin/assets/plugins/jquery-validation/dist/additional-methods.min.js' %}"></script>
  <script src="{% static 'admin/assets/plugins/jquery-validation/dist/localization/messages_es_PE.min.js' %}"></script>
  <!-- <script src="{% static 'admin/assets/js/validacionFechaCausal.js' %}"></script> -->
  <script src="{% static 'admin/assets/js/validacionFechaCausalanexo.js' %}"></script>
  <script src="{% static 'admin/assets/js/MotivoRenta.js' %}"></script>
  <script src="{% static 'admin/assets/js/f_termino_contrato.js' %}"></script>
  <script>
    var contador = document.getElementById("contadorcontratos").value
      if (contador >= 6 ) {
      document.getElementById('contratosdiarios').style.visibility='hidden';
      document.getElementById('modalanexo').style.visibility='hidden';
      }
  </script>


{% endblock %}

{% block scripts %}
//Submit form

$('.btn-view-editar-contrato').on('click', function(e){
  e.preventDefault();
  var id = $(this).data('id');
  var URL = '/contratos/'+id+'/update_contrato/';
  $.ajax({
      url: URL,
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
          $("#modal-editar_contrato").modal("show");
      },
      success: function (data) {
          $("#modal-editar_contrato .modal-content").html(data.html_form);
      }
  });
});


{% if contrato and perms.contratos.delete %}
var eliminarURL = "{% url 'contratos:delete' contrato.id %}";
$('.btn-eliminar2').on('click', function(e){
    e.preventDefault();

    console.log('click delete object');
    console.log(eliminarURL);

    $.ajax({
      url: eliminarURL,
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-contrato").modal("show");
      },
      success: function (data) {
          $("#modal-contrato .modal-content").html(data.html_form);
      }
    });
});
{% endif %}


$('.btn-view-enviar-baja').on('click', function(e){
  e.preventDefault();
  var id = $(this).data('id');
  var URL = '/contratos/'+id+'/baja_contrato/';
  $.ajax({
      url: URL,
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
          $("#modal-enviar_baja").modal("show");
      },
      success: function (data) {
          $("#modal-enviar_baja .modal-content").html(data.html_form);
      }
  });
});


$('.btn-view-enviar-baja-anexo').on('click', function(e){
  e.preventDefault();
  var id = $(this).data('id');
  var URL = '/contratos/'+id+'/baja_contrato_anexo/';
  $.ajax({
      url: URL,
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
          $("#modal-enviar_baja").modal("show");
      },
      success: function (data) {
          $("#modal-enviar_baja .modal-content").html(data.html_form);
      }
  });
});


$('.btn-view-editar-anexo').on('click', function(e){
  e.preventDefault();
  var id = $(this).data('id');
  var URL = '/contratos/'+id+'/update_anexo/';
  $.ajax({
      url: URL,
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
          $("#modal-editar_anexo").modal("show");
      },
      success: function (data) {
          $("#modal-editar_anexo .modal-content").html(data.html_form);
      }
  });
});


{% if messages %}
  console.log('mensajes');
  {% for mensaje in messages %}
      console.log("{{ mensaje.tags}}"+" "+"{{ mensaje }}");
      {% if mensaje.tags == 'success' %}
        iziToast.success({
            message: '{{ mensaje }}',
            position: 'topRight',
        });
      {% elif mensaje.tags == 'error' %}
        iziToast.error({
            message: '{{ mensaje }}',
            position: 'topRight',
        });
      {% endif %}
  {% endfor %}

{% endif %}


var enviando = false;
//Submit form
$('#boton').on('click', function(e){
    $(this).prop('disabled', true);
    $(this).addClass('disabled');

    e.preventDefault();

    var $form = $('#CContratoForm');
    var validator = $form.validate({
        ignore: "",
        errorClass: "is-invalid",
        validClass: "is-valid",
        errorElement: 'div',
        errorPlacement: function ( error, element ) {
          error.addClass("invalid-feedback");

          if(element.prop("type") === "checkbox") {
            error.insertAfter(element.parent("label"));
          }else{
            error.insertAfter(element);
          }

          // Add the span element, if doesn't exists, and apply the icon classes to it.
          if (!element.next("div")[0]) {
            $( "<div class='glyphicon glyphicon-remove form-control-feedback'></div>" ).insertAfter( element );
          }
        },
        wrapper: "",
        rules: {
                horario: "required",
                id_tipo_documento: "required",
              },
              messages: {
                horario: "Selecciona un Horario.",
                id_tipo_documento: "Selecciona un tipo de documento"
        },
        showErrors: function(errorMap, errorList) {
            console.log('show messages', errorList.length);
            if(errorList.length){
                $('#msgbox').show('slow');
                $("#num-errors").html("Tienes "+ this.numberOfInvalids() + " errores.");

                this.defaultShowErrors();
                console.log('Errores', errorMap, errorList);
            }
      }
    });

    if(validator.form()){
        if(!enviando){
            enviando = true;
            $(this).html('<i class="fa fa-spinner fa-pulse margin-r-5"></i> Guardando...');
            $form.submit();
        }else{
            console.log("El formulario ya se esta enviando...");
        }
    }else{
        console.log('Error en el formulario.');
        $(this).removeClass('disabled');
        $(this).prop('disabled', false);
    }

})


{% if anexo and perms.anexos.delete %}
var deleteURL = "{% url 'contratos:delete-anexo' anexo.id %}";
$('#btn-delete-anexo').on('click', function(e){
    e.preventDefault();

    console.log('click delete object');
    console.log(deleteURL);

    $.ajax({
      url: deleteURL,
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-anexo").modal("show");
      },
      success: function (data) {
          $("#modal-anexo .modal-content").html(data.html_form);
      }
    });
});
{% endif %}


var enviando = false;
//Submit form
$('#Carta_T').on('click', function(e){
    $(this).prop('disabled', true);
    $(this).addClass('disabled');

    e.preventDefault();

    var $form = $('#CCTerminoForm');
    var validator = $form.validate({
        ignore: "",
        errorClass: "is-invalid",
        validClass: "is-valid",
        errorElement: 'div',
        errorPlacement: function ( error, element ) {
          error.addClass("invalid-feedback");

          if(element.prop("type") === "checkbox") {
            error.insertAfter(element.parent("label"));
          }else{
            error.insertAfter(element);
          }

          // Add the span element, if doesn't exists, and apply the icon classes to it.
          if (!element.next("div")[0]) {
            $( "<div class='glyphicon glyphicon-remove form-control-feedback'></div>" ).insertAfter( element );
          }
        },
        wrapper: "",
        showErrors: function(errorMap, errorList) {
            console.log('show messages', errorList.length);
            if(errorList.length){
                $('#msgbox').show('slow');
                $("#num-errors").html("Tienes "+ this.numberOfInvalids() + " errores.");

                this.defaultShowErrors();
                console.log('Errores', errorMap, errorList);
            }
      }
    });

    if(validator.form()){
        if(!enviando){
            enviando = true;
            $(this).html('<i class="fa fa-spinner fa-pulse margin-r-5"></i> Guardando...');
            $form.submit();
        }else{
            console.log("El formulario ya se esta enviando...");
        }
    }else{
        console.log('Error en el formulario.');
        $(this).removeClass('disabled');
        $(this).prop('disabled', false);
    }

})


{% if messages %}
  console.log('mensajes');
  {% for mensaje in messages %}
      console.log("{{ mensaje.tags}}"+" "+"{{ mensaje }}");
      {% if mensaje.tags == 'success' %}
        iziToast.success({
            message: '{{ mensaje }}',
            position: 'topRight',
        });
      {% elif mensaje.tags == 'error' %}
        iziToast.error({
            message: '{{ mensaje }}',
            position: 'topRight',
        });
      {% endif %}
  {% endfor %}

{% endif %}
{% endblock %}
