

<div class="modal-header">
  <h4 class="modal-title">
    ¿Está seguro que desea dar de baja este contrato?</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
  <form method="post" action="." enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="form-group col-md-12"  id="observacion">

        </div>
        <div class="form-group col-md-12"  id="observacion">
         <h5 class="d-flex justify-content-center">Motivo: {{baja}}</h5> 
                    
        </div>
    </div>
    

<div class="modal-footer">

  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
  <button type="submit" id="boton" class="btn btn-info btn-flat "> Dar de baja</button>
</div>
