{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block page_title %}Contratos{% endblock %}
{% block content %}
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Contratos / Solicitudes</a></li>
  <li class="breadcrumb-item active">Listado</li>
</ol>
<h1 class="page-header">Contratos Pendientes <small>Listado</small></h1>
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    </div>
    <h4 class="panel-title">Solicitudes pendientes</h4>
  </div>
  <div class="panel-body ">
    <form method="post" id="form" action="{% url 'contratos:exportar_excel_pendiente' %}" novalidate id="UserAgendar" enctype="multipart/form-data">
      <fieldset>
        {% csrf_token %}
          <div class="row col-md-12 row">
              <div class="form-group col-md-4">
                <div class="align-items-left">
                  
                  <input  type="button" onclick="GetSelected()" class="btn btn-success" id="buscar" style="color: rgb(255, 255, 255);" value="Aprobación Masiva">
                  <button type="submit"  class="btn btn-green">Exportar excel</button>
                </div>
              </div>
              </div>
            </form>
      </fieldset>

  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="data-table-default" class="table table-striped table-bordered align-middle">
        <thead>
          <tr>
              <th > </th>
              <th >Solicitante</th>
              <th >Clientes/Plantas</th>
              <th >Trabajador</th>
              <th >Plazos</th>
              <th >Contrato</th>
              <th >Valores</th>
              <th >Acciones</th>
          </tr>
        </thead>
    </table>
  </div>
  </div>
</div>
<!-- Modal de Finiquito -->
<div class="modal fade  bd-example-modal-lg" id="modal-finiquito">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>
<!-- Modal de visualizar contrato -->
<div class="modal fade  bd-example-modal-lg" id="modal-contrato">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>

<div class="modal fade " id="modal-baja">
  <div class="modal-dialog ">
    <div class="modal-content"></div>
  </div>
</div>

{% block javascript %}
<!-- Modal -->
<div class="modal fade" id="solicitudes_contrato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <form id="myform" method="post" action="." enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <b><i class="fas fa-search"></i> <span></span></b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <input name="action" type="hidden" value="">
                        <input name="id" id="id" type="hidden" value="">
                        ¿Está seguro que desea realizar esta acción?
                        <div class="form-group col-md-12" style="display:none;" id="observacion">
                          <label for="email">Observaciones</label>
                            <textarea  name="obs" cols="40" rows="10" class="form-control" id="id_obs"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" id="boton" class="btn btn-info btn-flat "> Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% endblock %}
{% block librerias %}
<script src="{% static 'admin/assets/js/crud/solicitudes_pendientes.js' %}"></script>
<script type="text/javascript">
  function GetSelected() {
      //Reference the Table.
      var grid = document.getElementById("data-table-default");

      //Reference the CheckBoxes in Table.
      var checkBoxes = grid.getElementsByTagName("INPUT");
      const message = [];

      //Loop through the CheckBoxes.
      for (var i = 0; i < checkBoxes.length; i++) {
          if (checkBoxes[i].checked) {
              var row = checkBoxes[i].parentNode.parentNode;
              var row2 = grid.getElementsByTagName("INPUT")[i].value
              message.push(row2);
              
          }
      }


      var URL = '/contratos/'+message+'/aprobacion_masiva/';
      $.ajax({
            url: URL,
            type: 'GET',
            dataType: 'json',
            beforeSend: function () {
              iziToast.success({
                            message: 'Los contratos fueron Aprobados con éxito',
                            position: 'topRight',
              });

            },
            success: function( data ) {
              window.location.reload();
            
          },
          });
  }
  function exportar_excel() {
      var URL = '/contratos/exportar_excel/';
      $.ajax({
            method: 'POST',
            url: URL,
            type: 'get',
            dataType: 'json',
            success: function (response) {
              
            }
          });
  }
</script>
{% endblock %}

