{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="es-cl" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es-cl">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Restaurar Clave | SGO</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

  <!-- ================== BEGIN START FAVICONS ================== -->
  {% include 'webicons.html' %}
  <!-- ================== END FAVICONS ================== -->

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static 'admin/assets/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" />
	<link href="{% static 'admin/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'admin/assets/plugins/font-awesome/css/all.min.css' %}" rel="stylesheet" />
	<link href="{% static 'admin/assets/plugins/animate/animate.min.css' %}" rel="stylesheet" />
	<link href="{% static 'admin/assets/css/default/style.min.css' %}" rel="stylesheet" />
	<link href="{% static 'admin/assets/css/default/style-responsive.min.css' %}" rel="stylesheet" />
	<link href="{% static 'admin/assets/css/default/theme/default.css' %}" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'admin/assets/plugins/pace/pace.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top bg-white">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin login -->
		<div class="login login-with-news-feed">
			<!-- begin news-feed -->
			{% include 'registration/news-feed.html' %}
			<!-- end news-feed -->
			<!-- begin right-content -->
			<div class="right-content">
        <div class="login-header">
        <div class="brand">
          <span class="logo"></span> <b>Email</b> enviado
          <small>El enlace para restablecer su contraseña ha sido enviado.</small>
        </div>
        <div class="icon">
          <i class="fa fa-sign-in"></i>
        </div>
      </div>
        <!-- begin login-content -->
        <div class="login-content">
          <form class="margin-bottom-0" method="post" autocomplete="off">
            <div class="form-group m-b-15">
              <p>Si el correo que ingresaste esta asociado con una cuenta de usuario,
                te enviaremos un email con las instrucciones para restaurar tu contraseña.
                <i><strong>Recibirás un email en un par de minutos.</strong></i></p>
            </div>
            <div class="form-group m-b-15">
              <p>Si no recibes ningún correo, por favor verifica que tienes una cuenta en
                <strong>SGO</strong> y que el correo que ingresaste sea el correcto.
                <a href="{% url 'password_reset' %}" class="text-success">Solicitar de Nuevo</a>.</p>
            </div>

            <div class="login-buttons">
              <a href="{% url 'users:signin' %}" class="btn btn-success btn-block btn-lg">Iniciar Sesión</a>
            </div>

            <hr />
            {% include 'registration/text-footer.html' %}
          </form>
        </div>
        <!-- end login-content -->

			</div>
			<!-- end right-container -->
		</div>
		<!-- end login -->

	</div>
	<!-- end page container -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'admin/assets/plugins/jquery/jquery-3.3.1.min.js'%}"></script>
	<script src="{% static 'admin/assets/plugins/jquery-ui/jquery-ui.min.js'%}"></script>
	<script src="{% static 'admin/assets/plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
	<!--[if lt IE 9]>
		<script src="{% static 'admin/assets/crossbrowserjs/html5shiv.js'%}"></script>
		<script src="{% static 'admin/assets/crossbrowserjs/respond.min.js'%}"></script>
		<script src="{% static 'admin/assets/crossbrowserjs/excanvas.min.js'%}"></script>
	<![endif]-->
	<script src="{% static 'admin/assets/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>
	<script src="{% static 'admin/assets/plugins/js-cookie/js.cookie.js'%}"></script>
	<script src="{% static 'admin/assets/js/theme/default.min.js'%}"></script>
	<script src="{% static 'admin/assets/js/apps.min.js'%}"></script>
	<!-- ================== END BASE JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>

j
